[2013-10-21 19:59] ctrueden opened #36 ""Build.sh clean" does not clean out all old artifacts"
When running `./Build.sh clean`, only artifacts with current version suffixes are removed. However, it is common to occasionally see older versions of the same artifacts in the `jars` and `plugins` folders. One would expected the MiniMaven to clean those out as well when run with the `clean` target.

Johannes has pointed out that even though `clean` does not remove them, MiniMaven _will_ remove th

[2013-10-21 20:08] ctrueden opened #37 "Add missing dependencies to Fiji build system"
Some JAR files are present on the Fiji update site and hence available in the Fiji user distribution, but _not_ copied into the Fiji source build's `jars` folder because nothing in `src-plugins` actually depends on them (so MiniMaven has no way of knowing to copy them). Perhaps they were uploaded to the update site manually as libraries available for use within Fiji, or perhaps they were once depe

[2013-10-21 20:13] ctrueden opened #38 "Ensure third party dependency versions match across POMs and update site"
Some third party dependencies have a different version uploaded to the Fiji update site than is declared in Maven POM(s). This results in a "Locally modified" discrepancy for that library. Whenever we are using release bindings (and we indeed always use release bindings for third party dependencies) we should make sure that the POMs always reflect the version uploaded to the update site.

The firs

[2013-10-21 20:16] ctrueden opened #39 "Fiji built from source has discrepancies with the Fiji user distribution"
This issue describes a blanket problem that we may want to file into separate issues on a per-artifact basis. There will always be some discrepancies between what is built from source (i.e., the latest master branch) and what has been uploaded to the updater (i.e., the latest tested-and-working binaries). This is a good thing.

However, at the time of this writing, there are actually many discrepa

[2013-10-21 20:18] ctrueden opened #40 "Building Fiji from source on OS X results in an incomplete launcher"
Specifically, `Contents/MacOS/ImageJ-tiger` is missing. And without `ImageJ-tiger`, the "Make Fiji Package" command produces an incomplete package that cannot be double-clicked (since the `Info.plist` references `ImageJ-tiger` as the starting point).

[2013-10-21 20:21] ctrueden opened #41 "When running Fiji from source, the "Fiji" update site is initially unchecked"
Clone `fiji.git`, run `./Build.sh` followed by `./ImageJ`, then run the `Update Fiji` command and click `Manage update sites`. The `Fiji` update site is shown to be unchecked, resulting in the Updater misreporting the current state of the installation.

[2013-10-21 20:25] ctrueden opened #42 "Updater's dependency version metadata is confusing"
The ImageJ updater shows a list of dependencies for each file. However, the versions shown there are not updated when a new version of that file is uploaded, causing them to fall out-of-date and become inconsistent with reality.

For example, as of this writing, `jars/scifio.jar` lists the following dependencies:

[code]

This is not correct, since no version of SCIFIO was ever released with those

[2013-10-21 20:28] ctrueden opened #43 "MiniMaven does not completely handle classifiers"
When a dependency has a classifier, MiniMaven does not always do the right thing.

The most relevant example here is `miglayout` with classifier `swing`, which is a dependency of `ij-ui-swing`, which is a dependency of `ij-app`, which is a dependency of `fiji-compat`. But if you run:

[code]

And analyze the output, you'll see that the `swing` classifier version of `miglayout` is not present anywh

[2013-10-21 20:30] ctrueden opened #44 "MiniMaven repeatedly warns about mpicbg versions"
When running `./Build.sh` from a fully built and up-to-date Fiji source tree, the following output is seen:

[code]

It would be nice to diagnose why those warnings are given, and avoid them. Obviously the Fiji project should only be depending on one version at a time of the `mpicbg` library (ideally a recent release version).

[2013-10-21 20:33] ctrueden opened #45 "fiji.Debug.run does not work for main classes in src/test/java"
Sometimes it is convenient to place a main class for testing in `src/test/java`, to avoid that class being bundled with the JAR artifact, but still provide access to the entry point for developers working on the source code.

And in the case of ImageJ 1.x plugins, it is often nice to use `fiji-lib`'s convenient `fiji.Debug.run(String, String)` method to easily launch ImageJ and run the given plugi

[2013-10-21 20:36] ctrueden opened #46 "MiniMaven sometimes warns about null versions"
Here is an example:

[code]

[2013-10-23 06:04] stelfrich opened #47 "MiniMaven ignores local repository"
In order for MiniMaven to use a local repository you have to add it to the `<repository/>` section of a _pom.xml_ with a _file://_ location.

It would be great to have MiniMaven search for artifacts in a local repository when not found in the remote repositories. This would solve the problem of having to specify a reference to the local filesystem in a _pom.xml_ that is shared in an organisation.

[2013-10-24 18:32] ctrueden opened #48 "Fiji's support for plugin directories has problems"
Unfortunately, I had some trouble getting the `.plugins` folder and the `ij1.plugins.dir` system property override to work properly on my OS X system:
-  When I put a plugin in `$HOME/.plugins` and launched Fiji, it was not discovered.
-  The following command run from `$HOME` still did not find the plugin:

[code]
-  The same command run from `$HOME/.plugins` _did_ find it, but did not find the s

[2014-01-09 21:48] gdreynolds opened #58 "Error resulting from attempt to upload .7z archive via sample image upload function"
(Fiji Is Just) ImageJ 1.48o; Java 1.6.0_24 [64-bit]; Windows 7 6.1; 31MB of 2959MB (1%)

java.lang.NoClassDefFoundError: imagej/core/commands/upload/SampleImageUploader
    at fiji.util.Fiji_Uploader.run(Fiji_Uploader.java:26)
    at ij.IJ.runUserPlugIn(IJ.java:196)
    at ij.IJ.runPlugIn(IJ.java:160)
    at ij.Executer.runCommand(Executer.java:131)
    at ij.Executer.run(Executer.java:64)
    at

[2014-01-10 19:43] ctrueden opened #59 "Make dedicate Jenkins users for Bio-Formats-4 and Bio-Formats-5"
The Jenkins job that updates TrackMate-dev has a dedicated Jenkins user called Jenkins-TrackMate (or similar). For consistency, we should do the same for the Bio-Formats-4 and Bio-Formats-5 jobs: rather than connecting as user "Bio-Formats" or user "Bio-Formats-5", let's call the user "Jenkins-Bio-Formats-4" and "Jenkins-Bio-Formats-5" respectively, to make it clear that it's a Jenkins account doi

[2014-01-10 19:45] ctrueden opened #60 "Move core ImageJ and Fiji update sites into sites.imagej.net"
In an effort to "eat our own dogfood"—and also to make everything work the same way via WebDAV and not need SSH access—let's make two new Fiji wiki accounts "ImageJ" and "Fiji" and initialize update sites for them, then migrate the core ImageJ and Fiji update sites respectively into those spaces.

We will need to add redirects from the old URLs (http://update.imagej.net/ and http://fiji.sc/update)

[2014-01-10 21:24] #58 closed, assigned to nobody

[2014-01-11 17:51] StephanPreibisch opened #61 "After externalizing the SPIM_Registration it is not found by the local plugins that require it"
Hi guys,

I am sorry, there is a problem with the build. It first worked, now it does not anymore. The descriptor-based registration that is based on the SPIM_Registration does not find the classes somehow. Jenkins builds the SPIM_Registration, but it is somehow just not there. I am really sorry, but does anyone have an idea what could be wrong?

Sorry again,
Steffi

[2014-01-11 19:33] #61 closed, assigned to nobody

[2014-01-15 21:10] hinerm opened #63 ""Add my site" doesn't always prompt for password on failed authentication"
When following the [tutorial on adding update sites](http://fiji.sc/How_to_set_up_and_populate_an_update_site#Add_your_personal_update_site), when trying to specify my Fiji wiki account, I was denied authentication but the Password field was not enabled. This resulted in me being unable to proceed.

I had already set my password for updating the Fiji main site, but had never set a personal passwor

[2014-01-16 19:17] hinerm opened #64 "Can't remove update sites"
In the "Manage Update Sites" dialog, I am unable to delete any update sites.

They disappear from the list but are obviously still there. For example, if I delete the update site "SCIFIO" and then try to rename a different update site to "SCIFIO", I would get the error "Update site SCIFIO already exists!"

I also tried deleting update sites, then performing some other update, applying changes, and

[2014-01-21 16:26] tferr opened #66 "ASA: Sholl Analysis v3.4 released"
v3.4 fixes (tferr/ASA@3066badcb2eeff61f6240be032e06268f57370dd) the known issues of previous releases. Could it be uploaded?

[2014-01-21 19:00] #66 closed, assigned to nobody

[2014-02-19 14:11] dscho opened #70 "Implement 'Make .jar' in ImageJ2's script editor and finally switch"
We really do not want to maintain two differing script editors... really...

[2014-02-25 17:01] hinerm opened #71 "Display bug switching between modern/legacy modes"
To reproduce (on OSX):

1) Switch to modern mode
2) Open a dataset
3) Switch to legacy mode
4) close the dataset
5) switch modern mode

There will be display flashes where the datasets used to be, as though the windows are opened again for a fraction of a second and then closed. This only happens once so I assume they are properly closed at that point.

This is a fairly minor display bug.

[2014-02-25 21:25] hinerm opened #72 "Running legacy plugin in IJ2 causes legacy UI to appear"
Steps to reproduce:
1) open Fiji
2) Help > Switch to modern mode
3) Run a legacy plugin (e.g. Find Jar for Class)

Now the legacy GUI pops up next to the IJ2 GUI and both are visible at the same time.

[2014-03-07 03:38] #59 closed, assigned to nobody

[2014-03-09 00:45] bjarchi opened #73 "BioFormats importer fails on OME-TIFF, others, following 3/8 update"
Hello,

After accepting an update to Fiji that was published today, I'm finding that the BioFormats import module fails in the process of loading OME-TIFF, at least. A quick google search turned up at least one other mention of this problem, in that case while importing .czi files.

An exception is thrown during the actual import process, after BioFormats scans the file and prompts you with a wind

[2014-03-09 10:16] #73 closed, assigned to nobody

[2014-03-13 15:49] ctrueden opened #74 "Variable frame rate time stamper"
The Time Stamper plugin does not support variable width time stamps. Many of the newer microscopy file formats can store them, though, and Bio-Formats can read them. We can create a plugin to extract them and then stamp them onto the image, just like the Time Stamper does for fixed width time stamps.

[2014-03-15 15:55] #72 closed, assigned to dscho

[2014-03-19 19:21] #48 closed, assigned to nobody

[2014-03-22 22:32] tferr opened #76 "Sholl Analysis v3.4.1"
Sholl Analysis v3.4.1 (tferr/ASA@b5d0d7cba9aed8259da31a970569c4e273f24a5f) has just been [released](https://github.com/tferr/ASA/releases/tag/3.4.1). Could it be uploaded?

[2014-03-22 22:49] #76 closed, assigned to nobody

[2014-03-24 17:55] #45 closed, assigned to dscho

[2014-03-25 00:02] #46 closed, assigned to dscho

[2014-03-25 16:24] #41 closed, assigned to dscho

[2014-03-25 21:58] #60 closed, assigned to nobody

[2014-04-02 20:26] #43 closed, assigned to dscho

[2014-04-04 20:01] ctrueden opened #78 "Improve documentation on running scripts headless"
The documentation describing how to run scripts headless is at:
http://fiji.sc/Headless#Running_scripts_in_headless_mode

Apparently though, the `-eval` technique is overly complex; @dscho said in #fiji-devel that you can just pass the `.jy` file directly and Fiji will figure it out. Would be great to update the documentation to reflect the best, most recommended way of running scripts and macros

[2014-04-04 20:21] carandraug opened #79 "captcha question is out of date"
To create an account on the FIJI wiki, one needs to answer to the question "which is the last menu on FIJI's help menu". The right answer at the moment is "Switch to Modern Mode" but the wiki still expects the old "Update FiJi"

I would suggest something very unlikely to change such as "What is the name of the figure opened when using Ctr+Shift+B ?" *although this would mean that internet access n

[2014-04-04 20:27] carandraug opened #80 "OpenID on FIJI's wiki"
I think this would be a nice addition. Having to create an account on each site on the internet is a bit of bum, so this would be a nice addition. Specially since the wiki does not allow anonymous editing due to vandalism.

[2014-04-06 00:37] #78 closed, assigned to nobody

[2014-04-07 18:24] dscho opened #81 "Let Fiji_Updater.jar depend on ij-ui-swing-updater.jar directly"

[2014-04-10 15:49] ctrueden opened #83 "Stop shipping unshaded fat jars"
A "fat jar" is a JAR that bundles some or all of its dependencies with it. This may be fine if the dependencies are shaded (i.e., their packages are renamed). But in many cases such as the JRuby and Jython uberjars, at least some of the dependencies are not shaded. This causes problems because there are often then multiple versions of the same library available on the classpath from multiple fat j

[2014-04-14 14:29] dscho opened #84 "Let all Fiji projects generate -sources and -javadoc artifacts"

[2014-04-14 14:31] dscho opened #85 "Make a Jenkins job using fiji's external/pom.xml to generate full Javadocs"
It should be possible to aggregate Javadocs using the `maven-javadoc-plugin` from all dependencies. Since the project defined in Fiji's `external/` directory has all of the Fiji plugins as dependencies, that would provide an aggregated, full Fiji javadoc.

[2014-04-14 20:01] ctrueden opened #86 "Accept period character in email addresses"
It seems that the Fiji Wiki considers email addresses with a dot in the name to be invalid. At least, it reports the address `omero-5.0@imagej.net` as invalid when attempting to use the [email user](http://fiji.sc/Special:EmailUser) feature. Changing the OMERO-5.0 user's email address to something without a period avoided the issue.

Further, while the address was still `omero-5.0@imagej.net`, att

[2014-04-15 22:13] #86 closed, assigned to dscho

[2014-04-17 19:37] #44 closed, assigned to dscho

[2014-04-17 21:30] #80 closed, assigned to nobody

[2014-04-17 22:45] #84 closed, assigned to dscho

[2014-04-17 23:16] #85 closed, assigned to dscho

[2014-04-19 16:00] #47 closed, assigned to dscho

[2014-04-19 16:01] #40 closed, assigned to dscho

[2014-04-19 16:03] #36 closed, assigned to dscho

[2014-04-21 01:19] dscho opened #87 "Add "ProTip"-like feature"
When starting up Fiji, we could use the status bar to share a ProTip (a la GitHub ProTips!). It would have a link that people can click, and it would only appear after a couple of seconds displaying the current version.

These ProTips should be `@Plugin`s, of course.

[2014-05-01 21:42] ctrueden opened #88 "Create a "kitchen sink" version of Fiji"
Now that we have multiple update sites working so well, and they can shadow upstream sites' files, it makes sense to provide two versions of Fiji:

1) A "stable Fiji" that comes with only the really well-tested stuff enabled.

2) A "kitchen sink Fiji" that comes with lots of wonderful update sites enabled, and hence has new features and bug-fixes, but potentially with new bugs and at the expense o

[2014-05-01 22:32] #81 closed, assigned to dscho

[2014-05-03 21:29] dscho opened #89 "Separate out pom-fiji"
It would be good to basically start versioning pom-fiji, based on [pom-imagej](https://github.com/imagej/pom-imagej) and use that as an excuse to put that file into its own source code repository.

[2014-05-14 15:22] ctrueden opened #90 "Fiji web site Java search needs some TLC"
Now that we have split the Fiji repository into individual external plugin repositories, the `fiji.sc/Foo.java` search is much less useful. For example, `http://fiji.sc/ImageJ_3D_Viewer.java` does not find the 3D Viewer source code.

[2014-05-14 22:37] #42 closed, assigned to dscho

[2014-05-15 15:41] #64 closed, assigned to dscho

[2014-05-16 21:46] ctrueden opened #91 "Clean up remaining uses of old ImageJ2 API"
There are a few places in the Fiji codebase that still reference the old ImageJ2 API (`imagej.*` rather than `net.imagej.*`):

[code]

Let's update those!

[2014-05-17 16:41] #91 closed, assigned to dscho

[2014-05-18 19:14] #79 closed, assigned to dscho

[2014-06-20 17:44] luxigo opened #92 "Macro.getOptions() return null instead of the command line argument specified after --run <plugin>"
[code]

[2014-06-20 20:40] #92 closed, assigned to nobody

[2014-06-24 15:00] luxigo opened #93 "Exit code is zero when unhandled exception is raised in --headless mode"
It would be helpful if Fiji exit code was not zero when an unhandled exception (eg: java.awt.HeadlessException) is raised in headless mode...  at least optionally.

[2014-06-24 15:03] #93 closed, assigned to nobody

[2014-07-01 05:20] anntzer opened #94 "Unhandled exception at exit"
Fiji (life-line version, 06/02/2014, linux-64) raises an exception upon exit and then needs to be ctrl-c'd.

Below is the stderr output.

[code]

[2014-07-01 19:51] #70 closed, assigned to dscho

[2014-07-07 16:56] forevertheuni opened #95 "Analysing in another channel"
Hello,
I tried using trackMate with sucess and I can track the particles within the hyperstack files from bioformats. I can then analyse everything in the channel I tracked my particles (mean intensity for example).
I there anyway of using the same track in another color or open window to analyse the particles?
I could copy the track overlay but then I can't get any data from it. Is that a limitat

[2014-07-09 14:53] tferr opened #96 "Sholl Analysis v3.4.2"
Hi! Sholl Analysis v3.4.2 (tferr/ASA@0c41d41) has just been [released](https://github.com/tferr/ASA/releases/tag/3.4.2). Could it be uploaded?

NB(and do let me know if I should ask this elsewhere):
Up to version 1.169 of pom-scijava we could use `${imagej1.version}` for ij (tferr/ASA@c24ed8c). But that property no longer seems to work with 2.23. Is this intended to manually specify the required v

[2014-07-09 20:39] #96 closed, assigned to nobody

[2014-07-25 07:49] chen-ye opened #100 "Single-word scripts not appearing in menus when placed in /plugins"
*.ijm files placed in Fiji/plugins without an underscore (space) in their filenames are not appearing in their respective menus.

I'm not sure if this also happens with scripts from other languages or is exclusive to Image-J macro scripts.

[2014-07-25 15:50] #100 closed, assigned to nobody

[2014-08-25 10:54] #89 closed, assigned to dscho

[2014-10-01 19:08] tferr opened #102 "Sholl Analysis v3.4.3"
Hi!
Sholl Analysis v3.4.3 (tferr/ASA@04c8655) has just been [released](https://github.com/tferr/ASA/releases/tag/3.4.3). Could it be uploaded?
This release actually marks the publication of the plugin in [Nature Methods](http://www.nature.com/nmeth/journal/v11/n10/full/nmeth.3125.html), so let me reiterate once more that such feat would not have been possible without the incredible support of all

[2014-10-02 09:09] #102 closed, assigned to nobody

[2014-10-15 13:27] hinerm opened #104 "Macros can't start with e"
See: https://list.nih.gov/cgi-bin/wa.exe?A2=ind1410&L=IMAGEJ&F=&S=&P=148646

Only affects the IJ1 Macro language.

[2014-10-15 21:40] #104 closed, assigned to nobody

[2014-11-03 14:24] #63 closed, assigned to dscho

[2014-11-10 23:22] ctrueden opened #105 "Achieve fully reproducible builds"
Recently there has been a push to make all components of Fiji build reproducibly, which will culminate in this toplevel fiji component also building reproducibly. We are getting very close, but not yet fully there. This issue is for tracking and discussion of that work.

[2014-11-17 13:11] #105 closed, assigned to hinerm

[2014-12-17 18:49] #94 closed, assigned to nobody

[2014-12-19 20:11] hinerm opened #106 "Installer format is broken"
With the current .dmg installer, the nicely-formatted window for dragging Fiji.app to Applications is not generated properly:
- Applications folder is missing
- Window is unusually large, leading to a lot of empty space.

This is on OSX 10.10.1.

![installer white space](https://cloud.githubusercontent.com/assets/1123809/5510470/ef754af6-8787-11e4-9f12-50c763331c91.png)

[2014-12-19 20:20] hinerm opened #107 "Style error causing invalid update site"
Freshly installed and updated Fiji, on OSX 10.10.1:

![colspanupdatesite](https://cloud.githubusercontent.com/assets/1123809/5510657/140556f2-878a-11e4-83e2-5655e9ac92b1.png)

[2014-12-19 20:26] #107 closed, assigned to nobody

[2015-01-06 21:01] ctrueden commented on #88
I agree with @dscho that a "kitchen sink" version of ImageJ should not be called "Fiji" but probably something else, should we ever end up creating the Jenkins job that bundles it up.

[2015-01-06 21:01] #88 closed

[2015-01-14 23:42] ctrueden commented on #39
We are getting very close to the fiji.git build matching what is distributed on the Fiji update site. (See e.g. 04f283aa19ce8fe75d6c8a2605e8454bdda59e2d.) Once we achieve that convergence, we can actually drive the Fiji update site by what's currently on fiji.git master, using Jenkins!

[2015-02-03 21:37] ctrueden commented on #37
To clarify: anything we want to bundle with Fiji, but do not want to "inflict" on downstream projects that add `sc.fiji:fiji` as a dependency, should be marked with `<optional>true</optional>` in the dependency declaration. See e.g. 8c80ec1d20ad4f489d4cba3b49a6d172275bec58.

[2015-02-03 21:40] ctrueden commented on #37
Here is a diff of the latest Fiji distribution compared to a Fiji whose JAR files are populated from scratch via a `fiji.git` source checkout using `mvn -Dimagej.app.directory=.../Fiji.app`:
[code]

[2015-02-03 22:49] ctrueden commented on #37
The discrepancies fall into the following categories:

1.  Bio-Formats special case:
[code]
    The `bio-formats_plugins` library should be filed into `/plugins`, not `/jars/bio-formats`. The cause of the erroneous behavior is [special case handling for Bio-Formats in the ImageJ Maven plugin](https://github.com/imagej/imagej-maven-plugin/blob/master/src/main/java/net/imagej/maven/AbstractCopyJarsM

[2015-02-04 22:51] ctrueden commented on #37
Somehow my analysis above missed the components which are part of `fiji.git` but _not_ currently present on the Fiji update site, such as `Fiji_Archipelago`. @larrylindsey: Are you interested in those components becoming part of core Fiji? Or would you rather keep them on a separate update site?

Also, for checking what has changed in a Fiji installation, the following invocation is really useful:

[2015-02-06 19:20] hinerm commented on #39
Known roadblocks:
- [ ] Current LSM_Toolkit version (4.0g) has snapshot parent

[2015-02-09 18:48] purohit opened #110 "Code location help"
Hello,

I'm looking for the code that implements the following feature: http://fiji.sc/Color_Image_Processing#Merging_transmitted_light_and_fluorescence_images

Can you point me to the source file and lines? Not for the GUI, for the algorithm.

Thanks!

[2015-02-09 18:58] hinerm commented on #110
Hi @purohit

There are a few options described in [the FAQ](There are a few options described in the FAQ: http://imagej.net/FAQ#How_do_I_see_the_source_code_for_a_command.3F)

Hope that helps!

[2015-02-09 18:58] #110 closed

[2015-02-09 19:07] purohit commented on #110
I think I found it: https://github.com/imagej/ImageJA/blob/6a554eec59315c9f0550bb17fdf1146cdae991a2/src/main/java/ij/plugin/RGBStackMerge.java#L262

[2015-02-27 20:30] larrylindsey commented on #37
Sorry, this got lost in the noise that is my inbox.

Yeah, I think it'd be awesome to have that be part of core Fiji.

On Wed, Feb 4, 2015 at 2:51 PM, Curtis Rueden <notifications@github.com>
wrote:

[2015-03-02 22:57] ctrueden commented on #37
@larrylindsey Cool, thanks for the reply. I uploaded the following plugins to the core Fiji update site:

* Archipelago_Plugins
* FS_Align_TrakEM2
* Fiji_Archipelago
* TrakEM2_Archipelago

[2015-03-09 00:31] tferr opened #111 "Sholl Analysis 3.4.4"
Hi!
This is just to let you know that Sholl Analysis v3.4.4 has just been [released](https://github.com/tferr/ASA/releases/tag/3.4.4). Could it be uploaded?

There seems to be problem, though:
After the release (tferr/ASA@0eb95a1), I've committed new changes (tferr/ASA@4b5df12) (the latter were just to update release notes), and the Jenkins job triggered by it seems to have [failed](http://jenkins

[2015-03-09 13:37] hinerm commented on #111
Hi @tferr

Congrats on the release!

It's mildly unfortunate that there are 2 commits with the same release version, and that is why the jenkins job failed (the 2nd commit triggered a build which it tried to deploy as 3.4.4, which already existed) but not a big deal. Just bump the version to a SNAPSHOT and you'll be fine!

It would be great if you could submit a PR to update the [Sholl Analysis ve

[2015-03-09 14:26] hinerm commented on #111
Sholl Analysis 3.4.4 is now on the Fiji update site!

[2015-03-09 14:26] #111 closed

[2015-03-09 15:17] tferr commented on #111
Thanks @hinerm!

Hopefully you will not think I am lazy. This is just how I've done in past, i.e., open a new issue here asking for you guys to upload the release version to the fiji update site.

Not really. So far, what I've done is a followup of this [discussion](https://github.com/fiji/fiji/pull/51#issuecomment-31765988).

[2015-03-09 15:30] hinerm commented on #111
Not at all! :)

Thanks, I wasn't aware of this thread. I will discuss with @ctrueden on how we want to standardize this on the [wiki](imagej.net) at some point.

In the mean time, please don't hesitate to ask again when you need something uploaded, run into Jenkins problems, etc..

[2015-03-09 15:52] hinerm opened #112 "bootstrap.js is broken in Java 8"
Running `jrunscript bootstrap.js update-force-pristine` with the current bootstrap.js gives the error:

[code]
This can be worked around per [this SO post](http://stackoverflow.com/questions/22503100/java-8-javascript-engine-backwards-compatibility)

However, then we get the error:

[code]

Not sure how to resolve this, but can be worked around by commenting out the `handleException` definition.

[2015-03-09 19:03] ctrueden opened #113 "Update to mpicbg 1.0.0 release"
@axtimwalde released `mpicbg:mpicbg:1.0.0`, but the Fiji stack has not been upgraded to use it. From my prior discussion with @axtimwalde a while back, it sounded a bit involved, due to backwards incompatibilities.

@axtimwalde This change is not urgent on my end, but IIRC, you need the new functionality for something eventually? So just to maintain clear communication and track the progress, I am

[2015-03-11 03:14] axtimwalde commented on #113
Trying to find time to migrate some of the other dependencies soon.  Recently motivated and helped @StephanPreibisch to migrate SPIM_Registration which is not yet finished as far as I can see
https://github.com/bigdataviewer/SPIM_Registration/commits/mpicbg_double
How is Stitching?

[2015-03-19 14:07] StephanPreibisch commented on #113
Thanks for dealing with this guys while I was on holidays :) The SPIM_Registration is done converting it to the new mpicbg_double ... just merged the branch to the current master ...

[2015-03-19 14:21] axtimwalde commented on #113
Hi Steffi,

thanks a lot!

It will not work though because there is a critical bug in ransac-test
in 1.0.0 (compile yes, work not).

Can you please update to mpicbg-1.0.1 ?  No further changes.

Thanks,
Stephan

On Thu, 2015-03-19 at 07:07 -0700, Stephan Preibisch wrote:

[2015-03-19 14:51] StephanPreibisch commented on #113
Done ... https://github.com/bigdataviewer/SPIM_Registration/commit/e1734560a87d7ef34729689a43dd51fc9e69f418

[2015-03-19 15:03] StephanPreibisch commented on #113
Stitching is converted as well: https://github.com/fiji/Stitching/commit/6b154190a2a43c7952a7d3474f01700bcc7addeb

Not tested though

[2015-03-19 15:06] StephanPreibisch commented on #113
Descriptor-based registration is converted as well: https://github.com/bigdataviewer/Descriptor_based_registration/commit/33b33d2e8db40bdad27f2cdd48230994cc2668a7

Also not tested.

[2015-03-19 15:11] StephanPreibisch commented on #113
When do you plan to update? @axtimwalde

[2015-03-19 18:26] axtimwalde commented on #113
Whenever the other dependents are fixed.  I am working on this.

On another note, I do not even dare to think about what all can go wrong
during this update.  We have absolutely no reliable mechanism other than
manual traversal to assure compatibility of individual components in the
Fiji distribution.

Surely making it worse than it is, the project is still pretty small ;).

On Thu, 2015-03-19 at

[2015-03-19 18:38] ctrueden commented on #113
A new enforcer rule in the `scijava-maven-plugin` is the perfect place to add such a feature. We currently ensure that builds are reproducible this way—now we just need a "SemVer dependency convergence" rule that ensures that when two conflicting dependency versions exist in the dependency tree, they are always at the same major version. This would be a huge step toward avoiding JAR skew, because

[2015-03-19 18:40] ctrueden commented on #113
BTW, the issue tracking the aforementioned feature is https://github.com/scijava/scijava-maven-plugin/issues/7

[2015-03-19 22:48] axtimwalde commented on #113
Thanks a lot @ctrueden!

I have commented on this issue with a simple proposal for consistency
assurance that would enable us to deal with the much more practical
situation that parents do not match and that eggs do not have to create
hens before being laid ;).

My understanding of the

https://github.com/ning/maven-dependency-versions-check-plugin

is that it only covers dependencies but not modu

[2015-03-20 01:55] axtimwalde commented on #113
@ctrueden @hinerm @StephanPreibisch I have updated the known remaining dependents of TrakEM2 and mpicbg and the dependencies themselves:

FS_Align_TrakEM2-2.0.1, Reconstruct_Reader-2.0.2, TrakEM2_Archipelago-2.0.1, blockmatching_-2.1.1, register_virtual_stack_slices-2.0.3, mpicbg-1.0.1, mpicbg_1.0.1, legacy-imglib1-1.1.2-DEPRECATED, pom-trakem2-1.3.2, mpicbg-trakem2-1.2.2, TrakEM2_-1.0f, jitk-tps-

[2015-03-20 03:12] ctrueden commented on #113
Cool, thanks for the hard work, guys! When all is ready, you can signal so by filing a PR against the [pom-fiji](https://github.com/fiji/pom-fiji) project with all the updated release version numbers!

[2015-03-23 22:34] ctrueden commented on #112
It is broken because: imagej/imagej#116

[2015-03-23 22:35] #95 closed

[2015-03-27 01:12] axtimwalde commented on #113
@ctrueden I filed a PR.  We will have to synchronize this release with
bigdataviewer and potential dependents because the artifacts

SPIM_Registration-2.1.5, Stitching_-3.0.1,
Descriptor_based_registration-2.0.8

depend on

mpicbg-1.0.1,
legacy-imglib1-1.1.3-DEPRECATED

and

bigdataviewer-core-1.0.8,  spimdata-1.0.0-beta-5,
pom-bigdataviewer-1.1.2

and probably others that depend on it (MaMuT?).

[2015-03-27 03:51] ctrueden commented on #113
Thanks for all your efforts, @axtimwalde. FYI, I am on vacation from now through the end of next week, but I'll be back on the case on Monday, April 6. Hopefully that gives various parties enough time to resolve any remaining issues before we update the components in Fiji.

[2015-03-27 14:52] axtimwalde commented on #113
Thanks @ctrueden and enjoy your vacation!  @tpietzsch and @tinevez could you please have a look at [BigDataViewer](https://github.com/bigdataviewer) and [MaMuT](http://sites.imagej.net/MaMuT/) and potential dependencies?  We can only update everything at once or either part is broken.  Thanks a lot in advance!

[2015-03-29 18:32] tinevez commented on #113
@axtimwalde : just tested BigDataViewer and MaMuT, with a just-fully-updated Fiji.
Both works.

[2015-03-30 17:37] axtimwalde commented on #113
@tinievez, Fiji is not updated.  Before we update, we have to consider the following: BigDataViewer and MaMuT are independent of mpicbg, but SPIM_Registration depends on both and comes through the BigDataViewer update site.  SPIM_Registration also requires and update of BigDataViewer (bigdataviewer-core-1.0.8, spimdata-1.0.0-beta-5, pom-bigdataviewer-1.1.2), i.e. the Fiji update site and the BigDa

[2015-03-30 20:09] tinevez commented on #113
@axtimwalde Ok let me test it tomorrow.
Building from source, with full update to dependencies should yield the answer right?
I am checking against

mpicbg-1.0.1,
legacy-imglib1-1.1.3-DEPRECATED
bigdataviewer-core-1.0.8,  spimdata-1.0.0-beta-5,
pom-bigdataviewer-1.1.2

[2015-03-31 10:09] StephanPreibisch commented on #113
The reason SPIM_Regisstration needs an update is simply that Tobias changed the constructor of BDV to work with AbstractSpimData instead of MinimalSpimData I think. A very important change though :)

[2015-03-31 12:28] vmiller opened #115 "Fiji - About ImageJ error"
Choosing the "About ImageJ" from the "Fiji" menu causes a Console window to open with the following error :

[WARNING] About folder '/Applications/Fiji.app/about' does not exist.
[ERROR] Module threw exception
java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
	at java.util.ArrayList.RangeCheck(ArrayList.java:547)
	at java.util.ArrayList.get(ArrayList.java:322)
	at io.scif.AbstractMetadata.get

[2015-03-31 12:34] vmiller commented on #115
Sorry, I should also have included that this is on MacOS 10.9.5 and using the current continuous release download.  The Life Line version from November 2014 does not have this issue.

[2015-03-31 12:56] tinevez commented on #113
@axtimwalde so I checked out the 'mpicbg' branch of the pom-fiji repo. I then used the v9.0.0-SNAPSHOT it provided as a parent pom for MaMuT, compiled, and checked that it pulled the desired version of dependencies:
- mpicbg-1.0.1,
- bigdataviewer-core-1.0.8,
- spimdata-1.0.0-beta-5,
Apart from the enforcer complaint, it compiles without any problem.
It also works as expected when ran with a real

[2015-03-31 16:47] axtimwalde commented on #113
@tinevez thanks!  I take this as a: Yes, everything works. :)  Now we would have to synch with @tpietzsch to get the Fiji and BDV updates up approximately parallel.  Next week Monday would be a good time for me.

[2015-03-31 17:49] tpietzsch commented on #113
@axtimwalde Monday is fine. Note that the BDV is now distributed via the main Fiji update site. BDV update site is empty, currently. So in principle @StephanPreibisch or you could also upload the latest BDV version in one big upload to the main update site (probably a good idea). Would next week Tuesday also work for you?

[2015-03-31 19:51] tinevez commented on #113
@tpietzsch Regarding the empty BDV update site: in that case we could remove it from the http://fiji.sc/List_of_update_sites
Ok go?

[2015-04-01 14:53] StephanPreibisch commented on #113
Next Monday I am flying back to New York, so I have time but no internet throughout the day. Also, it is a public holiday in Germany I heard.

[2015-04-01 15:42] axtimwalde commented on #113
Tuesday is fine for me.

[2015-04-01 15:53] StephanJanosch opened #116 "loading big .zip (stack) does not work"
I cannot open big stacks saved as zip.

Disabling SCIFIO (Edit -> Options-> ImageJ2)  resolved the loading issue. Now the zips load fine again.

[2015-04-06 15:55] ctrueden commented on #113
@tinevez @tpietzsch It is probably OK to remove the old BDV site from the list of update sites, although I was a bit reluctant since we have not thoroughly tested what that does to people's installations. Remember that the Updater scrapes that wiki page for known sites, and if previously available sites go missing, strange stuff might happen. If you do remove it, _please_ test what happens to a Fi

[2015-04-06 18:39] ctrueden commented on #115
@vmiller Thanks for the report. There are a couple of different things going on here. I pushed some fixes to the appropriate places (see above), which we will test and upload before the end of next week.

[2015-04-08 09:24] #116 closed

[2015-04-08 15:22] ctrueden commented on #116
Actually, I'd like to keep tracking this issue, so we can fix the behavior of ZIPs in SCIFIO. However, rather than reopen this issue here, I'll file a new issue in the appropriate SCIFIO component.

[2015-04-10 01:03] axtimwalde opened #118 "Fiji terminal grabs focus away from all terminals"
The Fiji Console grabs the focus away from all open windows in Ubuntu Unity 14.04 when generating System.out/err output.  In a situation where an error results in continuous System.out or err, I am unable to kill ImageJ or do anything else because I am unable to enter a terminal (Ctrl+Alt+F1 still works, but I cannot call xkill from there, but instead have to kill the process by its ID).  I unders

[2015-04-10 23:41] axtimwalde commented on #118
Answer to self: The event occurs only on System.err, not on System.out and is fixed in https://github.com/scijava/scijava-ui-swing/pull/9

[2015-04-11 21:49] ctrueden commented on #118
Resolved by scijava/scijava-ui-swing#9. Will release and upload by end of next week.

[2015-04-11 21:49] #118 closed

[2015-04-11 21:49] ctrueden commented on #118
Thanks @axtimwalde for the fix!

[2015-04-13 14:25] StephanJanosch opened #119 "Does the ScriptEditor uses the proper javac?"
I open fiji like this:
[code]

I need Java 8, because I have an external lib build with Java 8.

Now I am creating a plugin and want to compile it and get errors

[code]
Now I wonder, if the script editor uses the javac specified in Fiji call.

I know, that my stuff works, because I can compile it outside Fiji and copy the class file over. It looks like that the built-in javac is called, as this p

[2015-04-13 17:46] ctrueden commented on #119
The script editor calls javac from the `tools.jar` that ships from the ImageJ update site. This is not an ideal situation; see imagej/imagej#105 for details. Until that issue is fixed, it will not work to compile Java 7 or Java 8 code in the Script Editor, at least not out of the box.

If you wish, you could try removing tools.jar and ensure the version of Java you're using is a JDK, not just a JR

[2015-04-14 06:06] StephanJanosch commented on #119
Hey Curstis,

i removed tools-1.4.2.jar and this is the result
[code]

[2015-04-14 07:15] tinevez commented on #113
@ctrueden @tpietzsch
I just made several tests with the Wiki.

* If I remove the BDV update site line from http://fiji.sc/List_of_update_sites, and launch a Fiji installation without the BDV site checked, nothing special happens. The BDV site just disappears from the updater.

* If I do the same on an installation with the BDV site checked, nothing happens as well. The site again is not shown on t

[2015-04-14 13:38] ctrueden commented on #113
@tinevez: Great, glad to hear it! So you think that, in general, removing update sites from the list will work out OK then?

The reason for my hesitation stems from my experience with the update sites "Bio-Formats" (which was labeled "Bio-Formats 4") and "Bio-Formats-5" (which was labeled "Bio-Formats 5"). After Fiji stopped shipping Bio-Formats 4.x, I changed the "Bio-Formats" site to ship Bio-Fo

[2015-04-14 13:55] tinevez commented on #113
@ctrueden Yes, but let me stress out that I did not test the case where the removed update site contained jars that were not shadowed by other update sites.
That might the context behind the reports you mention.

The problem is that this depends on the end user: if we remove an update site and someone has a non-up to date Fiji, that might cause havoc.

[2015-04-15 17:05] ctrueden opened #120 "Make sure all JAR files include a manifest"
The following JARs are currently missing a `META-INF/MANIFEST.MF`:
- plugins/Algorithm_Launcher.jar
- plugins/FFMPEG_IO.jar
- plugins/ij-ImageIO_.jar

Also these from the Stowers update site:
- plugins/Jay_Plugins.jar
- plugins/Jay_Plugins2.jar

Each JAR that is missing a manifest causes two (apparently harmless) NPEs to be thrown in the startup of the Trainable Weka Segmentation plugin; see [this

[2015-04-15 17:09] ctrueden commented on #120
As an aside: since we cannot control all third party update sites, it would probably be good if the TWS plugin somehow suppressed these specific NPEs unless debugging mode is enabled.

[2015-04-15 17:31] ctrueden commented on #119
OK, so maybe my theory is wrong then. I don't know. If you figure it out, definitely let us know, and/or write a FAQ entry. It would benefit an increasing number of people, as more installations migrate to Java 8.

Unfortunately, I don't have time to look into it myself right now. But I will later this year—for a variety of reasons, this is very likely the year that ImageJ2 will switch to Java 8 a

[2015-04-15 20:49] ctrueden commented on #113
This issue is completely resolved now, right? We can close it?

[2015-04-15 21:45] iarganda commented on #120
Can we do that from TWS if the exception is caught in the weka library?

[2015-04-15 22:39] ctrueden commented on #120
Oh, it catches it and then dumps it to stderr? That's unfortunate. It can be worked around, but is more annoying. Best would be to fix it on the weka side, of course.

[2015-04-15 22:44] ctrueden commented on #115
The relevant fixes have been released and uploaded to the ImageJ update site!

[2015-04-15 22:44] #115 closed

[2015-04-16 05:28] #113 closed

[2015-04-16 07:45] iarganda commented on #120
I'll write to them!

[2015-04-20 11:38] ctrueden commented on #90
The current plan is to remove the fiji.sc search functionality in favor of a dedicated `search.imagej.net` domain. Its central feature would be a search bar the delegates to the GitHub search across all relevant organizations. See also imagej/imagej#122.

[2015-04-20 12:17] ctrueden opened #121 "Document who is maintaining each component"
The documentation needs to be clearer about who is formally responsible for maintaining each component of the SciJava software stack. I would like to differentiate between "active" and "minimal" maintenance, similar to [how Drupal does it](https://www.drupal.org/node/1066982). Having a formal pledge from each maintainer, along with a list of responsibilities entailed by that pledge, posted publicl

[2015-04-20 12:45] tinevez commented on #121
There was once a wiki page dedicated to find plugins without maintainer:
http://fiji.sc/Template:BlamePage
It was generated from a python script that was crawling a Fiji installation, fetching corresponding info from the wiki and checking what plugins did not declare a maintainer,
@ctrueden you have something like this in mind?

[2015-04-20 19:49] ctrueden commented on #121
@tinevez Something like that, but much more clear. Again, see [how Drupal does it](https://www.drupal.org/node/1066982), which I really like. They differentiate between "minimal" maintenance—which means PR will be reviewed & merged, but the maintainer(s) do not have time to actively fix bugs or add features—and "active" maintenance, which implies the project is under active development in some fas

[2015-04-21 17:54] ctrueden commented on #112
@dscho I presume that https://github.com/imagej/imagej-updater/commit/a76bb7e416ddfeccc69bd7e7a72b672a88c5496a fixes this issue?

Also tangentially relevant: https://github.com/imagej/imagej/issues/116

[2015-04-21 18:15] dscho commented on #112
I guess. It does so here.

[2015-04-21 19:43] ctrueden commented on #112
Great.

[2015-04-21 19:43] #112 closed

[2015-04-24 13:06] hinerm commented on #121
As part of this, I think the contribution guidelines should be updated to explain these expectations (e.g. developers should have a wiki page for their plugin to document these things)..

[2015-05-06 18:28] axtimwalde opened #122 "Fiji crashes on start on Ubuntu 15.04 with included JRE"
It starts and runs if I remove the java directory.  With the included JRE, I get no further than

    saalfelds@saalfelds-ws1:~/packages/Fiji.app $ ./ImageJ-linux64
    Picked up JAVA_TOOL_OPTIONS: -javaagent:/usr/share/java/jayatanaag.jar
    #
    # A fatal error has been detected by the Java Runtime Environment:
    #
    #  SIGSEGV (0xb) at pc=0x00007f129c89ac5b, pid=7572, tid=139821614323456

[2015-05-07 05:55] ctrueden commented on #122
FWIW, @hinerm is focusing this month on issues relating to the launcher, including better Java 7 and 8 support, with the goal of migrating the platform-specific bundles to Java 8 later this summer. This issue is just one more nail in the coffin of 1.6.0_24.

[2015-05-08 07:26] StephanJanosch commented on #119
Another try on this: I got rid of javac-1.6.0.24-ubuntu-fiji2.jar of my jars folder and tried using the script editor to compile my java plugin with the java8 dependency (another jar build with java8).

Console:
[code]

Script editor
[code]

[2015-05-08 08:37] StephanJanosch commented on #119
Another Test:
removing both
- tools-1.4.2.jar
- javac-1.6.0.24-ubuntu-fiji2.jar

gave me this
[code]
There is no *jre* folder in java_home anymore. Maybe I can find the culprit somewhere in the sources.

[2015-05-08 11:47] StephanJanosch commented on #119
Success (on Mac OS 10.9):

-copy my Java8 based dependency to Fiji.app/plugins
-remove tools-1.4.2.jar and javac-1.6.0.24-ubuntu-fiji2.jar
-export path: `export PATH=/Library/Java/JavaVirtualMachines/jdk1.8.0_40.jdk/Contents/Home/bin:$PATH`
-open Fiji: `open -a "Fiji.app" --args --java-home /Library/Java/JavaVirtualMachines/jdk1.8.0_40.jdk/Contents/Home/'`

[code]

Although it looks like a failure

[2015-05-08 18:17] ctrueden commented on #119
Thanks for all the information, @StephanJanosch! We should definitely leave this issue open, since we want the compilation to work "out of the box" with whatever version of Java is being used to run ImageJ itself. And there should never be a need to set or alter any environment variables. We do have plans to make this work—it is just a matter of time.

[2015-05-10 02:48] acardona opened #123 "Selecting "Clear" from the "Edit" menu of a Log window runs the wrong command"
Basically it does not clear the log window and instead attempts to run the "Edit - Clear" from the regular ImageJ window, complaining with a popup if there isn't a selection on the active image.

[2015-06-12 15:59] doliv071 commented on #122
I ran into this problem trying to run FIJI from the /opt directory without sudo. Using sudo fixed the error

[2015-06-12 16:40] ctrueden commented on #122
Fortunately, this issue will become moot when we migrate to Java 8 later this summer.

[2015-06-17 15:26] axtimwalde commented on #122
Thanks @ctrueden and @hinerm for taking care for this.  A workaround until then is to use a system wide Java installation (both OpenJDK 7 and 8 work) by simply removing the included JRE (Fiji.app/java). You will have to install Java3D manually in his case which worked for me using the 3DViewer Helper.

[2015-06-24 15:12] damisiak opened #125 "Run R script"
Hi,

I use rJava to connect to R and run R scripts from within java. Where should the scripts be stored in Fiji? I saw a folder called scripts in the Fiji directory including some .m Matlab files, is this the right place?

Best, Danny.

[2015-07-02 19:45] hinerm opened #126 "Monitor memory is broken"
Works in ImageJ 1.49v still, but opens a blank window in Fiji.

[2015-07-02 19:46] hinerm commented on #126
Note that this breakage is a result of a change in IJ 1.x, as monitor memory still works in 1.48v.

[2015-07-02 20:01] ctrueden commented on #126
* Works with 2.0.0-rc-30/1.49u without Fiji.
* Works with 2.0.0-rc-31/1.48v without Fiji.
* Broken in 2.0.0-rc-31/1.49v without Fiji.
* Broken in 2.0.0-rc-31/1.50a11 without Fiji.

[2015-07-02 20:04] ctrueden commented on #126
So this issue more properly belongs in https://github.com/imagej/imagej, as it is not Fiji-specific.

[2015-07-07 21:53] ctrueden commented on #125
Putting them in `scripts/` seems fine to me. If nowhere else seems to work, you can also put anything in the `lib/` subtree (creating it if needed) and the ImageJ Updater will allow you to upload it.

By the way, do you know about the [scripting-r](https://github.com/scijava/scripting-r) project? Would be great if someone had time to take ownership and finally polish that enough to add it to Fiji!

[2015-07-07 21:53] #125 closed

[2015-07-08 17:11] hinerm opened #127 "StartupMacros.fiji.ijm not picked up by ImageJ 1.x"
IJ 1.x ships a `Plugins > Macros > Startup Macros` command to open the startup macro file in the script editor.

However, in Fiji this startup macro file is named `StartupMacros.fiji.ijm` which is not compatible with the `Startup Macros` command. Renaming to `StartupMacros.ijm` would fix the problem.

[2015-07-08 17:11] hinerm commented on #127
@ctrueden any reason we need the `fiji` in the macro file name?

[2015-07-08 17:13] ctrueden commented on #127
Yes, it was put there very intentionally, to avoid conflicts with users' customized `StartupMacros.ijm`. Renaming it cause problems because the Updater would constantly see it as "locally modified" whenever a user edits it.

Of course, Fiji has a mechanism to make it easy _not_ to edit that file, but instead put additions into the `macros/AutoRun` folder. But some people do not use it.

[2015-07-08 17:14] ctrueden commented on #127
See also 5287d2c335b6f59b6486ca547a040d7bac2806ac and 6a3e9e13e247fc9d2daa59c4214ee7327f2c4321, although Johannes didn't go into a lot of detail.

[2015-07-08 17:17] ctrueden commented on #127
Hmm... maybe it would be OK to rename it back. I dunno. The point is: users shouldn't be editing it anyway. What do you think? @dscho, can you foresee any problems if we do that?

[2015-07-08 17:24] dscho commented on #127
The idea was to let users who want to edit their StartupMacros.txt do so, copying the contents from StartupMacros.fiji.ijm when they do. If there is a .txt, it would be used instead of the fiji.ijm. That way, the Fiji installation can be up-to-date even if the user has a "locally modified" StartupMacros.

Now, if you rename it back, every power user who modified StartupMacros.txt will have a probl

[2015-07-08 17:27] hinerm commented on #127
I have mixed feelings here. I appreciate the intent to encapsulate user/distributed macros but in my tests a local `StartupMacros.ijm` (or `.txt`) is not loaded on startup if there is a `StartupMacros.fiji.ijm` present. And putting stuff in `macros/AutoRun` adds it to the menus but also attempts to run the macro on startup, so it's not a perfect solution.

[2015-07-08 17:45] ctrueden commented on #127
@dscho Thanks for the reminder. I agree that we should not rename it back.

@hinerm The "Startup Macros" command could be updated (either by us using imagej-legacy, or by Wayne I suppose) to also support `StartupMacros.fiji.ijm`. But I'd say this is a very low-priority task.

[2015-07-08 17:49] hinerm commented on #127
Agreed

[2015-07-08 18:36] dscho commented on #127
Maybe like this?

https://github.com/imagej/ImageJA/blob/45050aacc6766ad09edc58481370be8d9a6f675c/src/main/java/ij/gui/Toolbar.java#L1368-L1378

[2015-07-08 18:41] hinerm commented on #127
Yeah, would need that logic [here](https://github.com/imagej/ImageJA/blob/v1.49v/src/main/java/ij/plugin/Commands.java#L152-L162)

[2015-08-13 09:19] chalkie666 commented on #122
same crash for me, ubuntu 15, downlopaded fiji linux 64 today.
here is the generated log

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fb4f4d56c5b, pid=9880, tid=140416038782720
#
# JRE version: 6.0_24-b07
# Java VM: Java HotSpot(TM) 64-Bit Server VM (19.1-b02 mixed mode linux-amd64 compressed oops)
# Problematic frame:
# C  [libjayatanaag.so

[2015-08-13 16:51] ctrueden commented on #122
This appears to be a problem with the JAyatana package, which makes Java menus appear in the Unity global menu bar. It works via bytecode instrumentation, which I personally believe is terrible for various reasons.

Just the tip of the iceberg: there is no way to suppress the message `Picked up JAVA_TOOL_OPTIONS: -javaagent:/usr/share/java/jayatanaag.jar` without disabling or uninstalling JAyatana

[2015-08-13 16:56] chalkie666 commented on #122
Works fine, as suggested, I just rename or delete the java dir in the
Fiji.app

So whatever java Ubuntu has out of the box does behave itself.
On 13 Aug 2015 18:51, "Curtis Rueden" <notifications@github.com> wrote:

[2015-08-13 16:59] ctrueden commented on #122
@chalkie666 To be clear, I am asking someone to try uninstalling JAyatana and seeing if Fiji works with the bundled Java 1.6.0_24. We already know that using a newer version of Java (by removing the bundled Java 1.6.0_24) will be OK.

[2015-08-28 16:36] ctrueden commented on #37
It seems I never actually removed `jdom` and `jdom-contrib` from Fiji—they were still hanging around, and finally [caused some mischief](http://fiji.sc/bugzilla/show_bug.cgi?id=1151). So I marked them obsolete today, after verifying that nothing needs them. (Everything in Fiji now uses `jdom2`.)

[2015-09-23 16:36] ctrueden opened #129 "Rename components which start with a number"
The `3D_Viewer`, `3D_Blob_Segmentation` and `3D_Objects_Counter` all start with a number. It seems this [causes problems with Leinengen](https://gitter.im/imagej/imagej/archives/2015/09/23), and maybe other Maven-friendly tools.

We can rename the artifactIDs, Git repositories and Jenkins jobs to start with a letter instead. Already, the Maven version properties in pom-fiji are inconsistent, since

[2015-10-30 18:15] NightRa opened #131 "Huang Binarization Index Out of Bounds"
Huang Binarization on the attached image gives an `Index Out of Bounds`:
[code]
[2.1_median.jpg](https://cloud.githubusercontent.com/assets/2140983/10854178/bf2a10c6-7f42-11e5-9bc3-e2afc7520192.jpg) - The image causing the error.

[2015-11-02 18:37] ctrueden commented on #131
Thanks for the report. I can reproduce this bug.

It only happens with [Auto Threshold](http://imagej.net/Auto_Threshold), not with the built-in Threshold command's Huang option. It also does not happen with the new ImageJ Ops implementation (ported from Auto_Threshold). Comparing the implementations, it's not intuitively obvious why one works and the other fails, so it will take some more in-dept

[2015-11-04 15:49] FannyGeorgi commented on #94
Hi guys, despite the optimistic comment from @anntzer, the error message still pops up.

[2015-11-04 16:22] ctrueden commented on #94
@FannyGeorgi To be clear: the problem which @anntzer refers to as "fixed" is actually Fiji's failure to terminate as expected.

The exception given in the OP above is both unrelated and harmless. It also only occurs on Linux with Java 7, to my knowledge.

But if the message bothers or inconveniences you somehow: could you please use Help > Report a Bug to get a snapshot of your system configuratio

[2015-11-19 21:34] bogovicj opened #132 "bigwarp broken"
Bigwarp is broken in the current fiji ( since bigdataviewer was updated to 2.0.x)

I just cut a new release to fix it (see below), as well as a new release of the dependency jitk-tps.
Please update the pom-fiji with these new version numbers:
* jitk-tps 1.2.1
   * ( saalfeldlab/jitk-tps@3231195a44032f64353f94187dad09a7b45c7857 )
* bigwarp_fiji 1.1.0
   * ( saalfeldlab/bigwarp@4030a53c4fbe77d961110

[2015-11-23 18:48] #132 closed

[2015-11-23 18:53] ctrueden commented on #132
@bogovicj Still working on aspects of this, but the POM changes are on master now at least.

[2015-11-23 19:43] bogovicj commented on #132
@ctrueden Thanks!

[2015-12-22 23:23] ctrueden commented on #119
@StephanJanosch No rush, but when you get a chance, can you please test with the latest Fiji, with the Java-8 update site enabled? Note that you will _need_ to be using Java 8 before enabling this update site, for your installation to continue working. See [this news post](http://imagej.net/2015-12-22_-_The_road_to_Java_8) for some details.

[2016-01-14 19:38] axtimwalde opened #134 "Missing dependencies"
A fresh checkout on a computer with vanilla maven reveals this

    [INFO] ------------------------------------------------------------------------
    [INFO] BUILD FAILURE
    [INFO] ------------------------------------------------------------------------
    [INFO] Total time: 1:09.799s
    [INFO] Finished at: Thu Jan 14 14:35:48 EST 2016
    [INFO] Final Memory: 33M/964M
    [INFO] ------------

[2016-01-14 19:46] axtimwalde commented on #134
For both artifacts, only 3.0.0 or 2.0.0 are available respectively.  I have to clarify that I upgraded to pom-fiji-21.0.0, This is a bug in pom-fiji https://github.com/fiji/pom-fiji/issues/8

[2016-01-14 21:22] hinerm commented on #134
@axtimwalde thanks for following up on this. It's my fault for cutting the new pom-fiji. I thought these components were about to be released. Will follow up in pom-fiji

[2016-01-14 21:22] #134 closed

[2016-01-18 08:52] ctrueden opened #135 "Unify matrix libraries"
Several projects throughout the Fiji stack make use of matrix libraries. Often Jama is used.

@kephale suggested that we could use a more modern library like [ojAlgo](http://ojalgo.org/) or [jblas](http://jblas.org/) or [Vectorz](https://github.com/mikera/vectorz) or [ejml](http://ejml.org/). Or even Clojure's [core.matrix](https://github.com/mikera/core.matrix) as a Java library, which allows swi

[2016-01-18 10:30] tpietzsch commented on #135
Good idea, I support that! I had a look at ejml and I liked it. Pure java and no dependencies. The same seems to be the case for ojAlgo, but I haven't looked at it in detail. I wouldn't use jblas because it wraps native code and I think the overhead of a JNI call for e.g. a 3D matrix vector multiplication is not worth it. No idea about Vectorz, has some dependencies but don't know how bad it is. U

[2016-01-18 10:47] kephale commented on #135
Yes, that is mostly fair about core.matrix. FWIW there is only 1 dependency in core.matrix: Clojure (which is already in FIJI, although certainly not in imglib2 stuff, etc.). Then each implementation may have its own dependencies, but that is expected. If there is some debate about which are the most expensive calculations, then it might be worth taking this a little more seriously. Otherwise, it

[2016-01-18 10:58] kephale commented on #135
Sounds like ojAlgo is the favored option!

[2016-01-18 11:12] StephanPreibisch commented on #135
ojAlgo seems to do well according to the tests, and at the same time has the smallest memory footprint: http://lessthanoptimal.github.io/Java-Matrix-Benchmark/memory/2013_10/

Both are interface-based so it should actually be possible to use/wrap ImgLib2 datastructures as matrices. So I would support ojAlgo.

[2016-01-18 11:38] tpietzsch commented on #135
+1

[2016-01-21 16:22] tischi opened #136 "improvements to Correct_3D_drift.py"
Hello!

Encouraged by Albert Cardona I changed (hopefully improved) the code of Correct_3D_drift.py in quite some places. In fact, I did not do this "for fun" but we have various data that required all these changes as the current version  of Correct_3D_drift would not work as is.

Changed code:
- also works now for __2D time-series__ (used to be 3D only)
- added option: __measure drift on multipl

[2016-01-22 07:23] imagejan commented on #136
`from javax.vecmath import Point3i`
whereas in above github it reads:
`from org.scijava.vecmath import Point3i`

Indeed, this was changed by @ctrueden in the process of migrating [ImageJ to Java 8](http://imagej.net/2015-12-22_-_The_road_to_Java_8), but the fix (https://github.com/fiji/fiji/commit/d0d02ce8d9bce59c4b2db03cfaaf4ca597701d23) didn't make it to the Fiji update site yet.

The best way t

[2016-01-22 09:05] tischi commented on #136
Thanks for the clarification and the recipe for contribution, which I followed.

[2016-01-22 13:04] imagejan commented on #136
@tischi For some reason your [PR](https://github.com/tischi/fiji/pull/1) ended up on your own fork of the `fiji` repository, instead of the original one. Could you please try again and make sure that `fiji/fiji` is selected as the *base fork*?

Regarding your changes, I noticed that you introduce a dependency to `imagescience`. The imagescience library recently moved to its own update site due to

[2016-01-22 14:27] tischi commented on #136
@imagejan I did another pull request stating:
`tischi  wants to merge 1 commit into fiji:master from tischi:tischi-patch-1`
is this correct now?

@ctrueden @hinerm
regarding the __imagescience dependency__:
I need a function for sub-pixel translation of a 3D data set. This works well:
https://github.com/imagescience/ImageScience/blob/master/src/main/java/imagescience/transform/Translate.java
Howev

[2016-01-26 19:42] ctrueden commented on #136
Closed by #137.

Regarding the imagescience dependency: it would indeed be best to eliminate that. Otherwise, the script will not work in plain Fiji anymore. The `imglib2-realtransform` library has a [RealViews](https://github.com/imglib/imglib2-realtransform/blob/imglib2-realtransform-2.0.0-beta-30/src/main/java/net/imglib2/realtransform/RealViews.java) class that supports subpixel translation, b

[2016-01-26 19:42] #136 closed

[2016-01-27 15:32] tischi commented on #136
I will check whether I can replace the imagescience code with imglib2 code!

[2016-01-29 15:11] tischi commented on #136
@ctrueden
Kota and me tried several hours to use imglib2, but so far failed. Basically, it seems that the __wrap__ function does not convert the ImagePlus enough to be used by the imglib2 algorithms.
I paste the code below. Can you help?

    # import
    from net.imglib2.img.display.imagej import ImageJFunctions
    from net.imglib2.img import ImagePlusAdapter
    from net.imglib2.realtransform i

[2016-02-02 20:54] ctrueden commented on #136
I'll try to find time to dig into this...

[2016-02-02 21:30] tischi commented on #136
@ctrueden Hi Curtis, __you don't need to__! We already made quite some progress with the help of Stephan Saalfeld. Right now we are in e-mail conversation with Stephan because to me it looks a bit strange what imglib2 is doing in some cases using below code. Here is code that works in principle:

    from net.imglib2.img.display.imagej import ImageJFunctions
    from net.imglib2.img import ImagePl

[2016-02-02 21:39] ctrueden commented on #136
I'm so glad you guys are on it! And thanks @axtimwalde for helping get this to work! :hatched_chick:

[2016-02-04 08:44] doctorbulat opened #139 "binary mask save as nifti format"
Can you help me please! I have very stupid question. How to save a binary mask in NIFTI format? In 'save as' there are so many formats, but nifti is absent...

[2016-02-04 08:53] imagejan commented on #139
Bio-Formats (which is included in Fiji) supports [import, but not export of NIFTI images](http://www.openmicroscopy.org/site/support/bio-formats5.1/formats/index.html). It's recommended to use an open format (e.g. [OME Tiff](http://www.openmicroscopy.org/site/support/ome-model/)) for saving.

That said, there is a [NIFTI input/output](http://imagej.net/plugins/nifti.html) plugin that you might wan

[2016-02-04 09:29] doctorbulat commented on #139
Thank you very much for good advice!

[2016-02-04 14:17] #139 closed

[2016-02-04 23:35] axtimwalde commented on #136
@tischi you see an overflow of n-linear interpolation due to accuracy limits of unsigned bytes.  The generic NLinearInterpolator on NumericType uses the source type to do accumulation.  That can lead to overflow in types with limited precision.  We just had a discussion about the lack of precision guarantees and write hierarchies in ImgLib2 types https://github.com/imglib/imglib2/pull/120#issuecom

[2016-02-05 11:36] imagejan commented on #136
I guess you meant:

[code]
Right?
Thanks for the enlightening discussion!

[2016-02-05 12:45] axtimwalde commented on #136
You're absolutely right. Written in a rush and not tested nor proofread...

[2016-02-08 10:21] tischi commented on #136
`img = ImagePlusImgs.from(imp.duplicate())`
`extended = Views.extendBorder(img)`
`converted = Converters.convert(extended, RealFloatConverter())`

gives me the following error:
    converted = Converters.convert(extended, RealFloatConverter())
TypeError: convert(): 2nd arg can't be coerced to net.imglib2.converter.readwrite.SamplerConverter,

I think the convert method needs in this case a 3rd arg

[2016-02-08 11:35] cmci commented on #136
Hi Tisch,

Maybe use RealDoubleSamplerConverter which is an implementation of
SamplerConverter?

onverted = Converters.convert(extended, RealFloatSamplerConverter())

see
http://javadoc.imagej.net/ImgLib2/net/imglib2/converter/readwrite/SamplerConverter.html

Cheers,
Kota (from Rohrbach)

On Mon, Feb 8, 2016 at 11:21 AM, tischi <notifications@github.com> wrote:

--

-------------------------------

[2016-02-08 12:27] StephanPreibisch commented on #136
Exactly, thank Kota!

		Img img = ImagePlusImgs.from(imp.duplicate());
		RandomAccessible extended = Views.extendBorder(img);
		RandomAccessible< FloatType > converted = Converters.convert(extended, new RealFloatSamplerConverter());

[2016-02-08 14:05] tischi commented on #136
Thanks Kota! I have something working now. The wrapping back to imp is not very beautiful due to the explicit type casting, is it possible to avoid this?

[code]

[2016-02-08 20:56] axtimwalde commented on #136
@tischi @StephanPreibisch @cmci This is not a good 'fix' because it uses a writable converter where you need read access only, limiting the application to writable source types for no good reason.  A short glimpse into [Javadoc](http://javadoc.imagej.net/ImgLib2/net/imglib2/converter/RealFloatConverter.html) and [source code](https://github.com/imglib/imglib2/blob/master/src/main/java/net/imglib2/

[2016-02-08 21:08] axtimwalde commented on #136
And expanding on this a bit because it is educational: Why does the method need B as a parameter?  Because the Converter source and target types are completely generic.  `RealFloatConverter` is a bad teaching example because it makes a commitment about the target.  `Converter<A,B>` does not.  In this general case, the `convert` method has to make sure that there is a `Type` template that can be us

[2016-02-08 22:31] cmci commented on #136
I stepped on the generic programming paradigm with my muddy feet... thank you for your clear advice.

So the question now relates to the last question of Tischi: could original `imp` object be somehow used as an argument for the the wrapper for reverting the image to ImagePlus so that we don't need three different cases of bit depth?

By the way, I had some chances to see codes in ImgLib1 and witn

[2016-02-09 09:55] StephanPreibisch commented on #136
Hi Stephan,

I didn’t really check if there is a difference in behaviour between the different static convert() methods, was quick as usual ;) It is obvious when looking at the source code though.

Maybe it would be good if RW/RO properties of the SamplerConverter vs Converter is reflected in the static method or interface names so it is more obvious that there is an important difference? Right no

[2016-02-23 09:34] tischi commented on #136
Hi All,

It would be great if you could help me with another question. How could I modify above code to also work when the input **imp** is an image with **two channels**? Above code crashes during the wrapping back with an ArrayIndexOutOfBounds exception. I don't know whether the RealViews.affine command actually does the right thing but it is running also when imp has two channels.

[2016-02-23 14:12] axtimwalde commented on #136
Hi @tischi, check out this http://javadoc.imagej.net/ImgLib2/net/imglib2/view/Views.html#collapseReal%28net.imglib2.RandomAccessible,%20int%29 , you want to collapse the channels dimension into a vector, as long as this is a vector of numeric or real types, interpolation works as expected.

[2016-02-23 15:40] tischi commented on #136
Hi @axtimwalde: thanks a lot!

I think (hope) I found the right spot in the conversion flow to add the **collapseReal()** (see below).
However, now I am stuck wrapping the **cropped** img back to an multi-channel imp. I had a look here: http://javadoc.imagej.net/ImgLib2/net/imglib2/img/display/imagej/ImageJFunctions.html
But I only found functions working on single channel images, or did I overloo

[2016-02-23 15:46] axtimwalde commented on #136
Yes @tischi, that function is missing.  Can you have a look at the code and add it?  Pull requests more than welcome ;).  I think it would be a great idea to add this.

[2016-02-23 16:26] tischi commented on #136
Ok @axtimwalde, fair enough!

However, I had a look at the Java code of the ImageJFunctions and I am afraid that this is way beyond my understanding of imglib2 (which is close to zero) and in addition, I usually only use jython and hardly ever write code in Java. I think realistically I would need someone here with a bit of insight into imglib2 in order to teach me how implement things like this.

[2016-02-24 08:58] axtimwalde commented on #136
@tischi sure, that certainly works, for splitting, have a look at http://javadoc.imagej.net/ImgLib2/net/imglib2/view/Views.html#hyperSlice%28net.imglib2.RandomAccessible,%20int,%20long%29

Regarding ImageJFunctions code complexity, I think you overestimate it.  As a start, you could try to simply copy it into an ImagePlusImg.  The vrtual stack approach isn't currently compatible with composite typ

[2016-02-24 11:18] Tom-TBT opened #141 "Java 1.8 and script InstallJava3D.m"
Hi,
I wanted to use the script InstallJava3D.m to use the 3Dviewer with Matlab, but it give me this error :
Undefined variable "ij3d" or class "ij3d.Install_J3D.getJava3DVersion" (line 46)

I had this error with Fiji bundled with java 1.8, so I tried it with the java 1.6, and it worked well.

Thank you,
Tom

[2016-02-24 11:42] tpietzsch commented on #136
One way to make it work with minimal coding would be:
* make a `Converter` from component `d` of the `Composite<T>` to `T` (didn't look at the actual types)
* `Converters.convert` to make `T` views for each of the composite components
* `Views.stack` these
* then use `ImageJFunctions` on the result.

[2016-02-24 12:04] axtimwalde commented on #136
@tpietzsch true, that is a good solution.  @tischi, the only thing you would have to write is a

[code]

because that is the only piece that shouldn't be done from Jython as it will be called per pixel access.

[2016-02-25 15:00] ctrueden commented on #141
Since you are using the new Fiji bundled with Java 8, you should not need to run this installer script anymore. Rather, Fiji itself ships with Java 3D 1.6 just like any other library. So the 3D Viewer should "just work" from MATLAB in this scenario (famous last words—I didn't try it). If not, please reply back with details of how it fails, and we can troubleshoot.

[2016-02-25 15:00] #141 closed

[2016-02-25 17:24] Ajaxels commented on #141
Hi Curtis,
could you please specify how to use 3D viewer from Matlab without Miji?
I was trying to follow the Matlab scripting page: [http://fiji.sc/MATLAB_Scripting] (http://fiji.sc/MATLAB_Scripting) the 'Running ImageJ within MATLAB' section, but after running the "ImageJ;" command got multiple errors starting with:

Error using ImageJ (line 42)
Java exception occurred: java.lang.UnsupportedClas

[2016-02-25 21:49] ctrueden commented on #141
Unfortunately, it seems that MATLAB (at least on OS X) ships with Java 7 instead of Java 8. And the current version of Fiji requires Java 8. So you may need to [do some surgery on your MATLAB](http://www.mathworks.com/matlabcentral/answers/103056-how-do-i-change-the-java-virtual-machine-jvm-that-matlab-is-using-for-mac-os) to switch it over to Java 8.

See also [this Troubleshooting topic](http://

[2016-02-26 14:45] Ajaxels commented on #141
Hi,
I updated the Java version of Matlab (on Windows) to 1.8.0_66-b18; after that I am starting 'ImageJ' in the Matlab command window. The Fiji interface is starting fine, but there are errors (see below).
The IMJ class is initialized in Matlab as well, but I can't send image from Matlab to Fiji. For example using the following command:
IJM.createImage('test', imread('snowflakes.png'), false);

Un

[2016-02-26 16:34] axtimwalde commented on #136
Hi @tischi, I added this converter https://github.com/imglib/imglib2/commit/82cd11b333299ba8e7147d405cf298fea6cb4d2c, we haven't made a release though, so to use it you would have to install a recent snapshot of ImgLib2 http://maven.imagej.net/service/local/artifact/maven/redirect?r=snapshots&g=net.imglib2&a=imglib2&v=2.7.0-SNAPSHOT&e=jar

[2016-02-26 19:17] hinerm commented on #141
@Ajaxels

There are two different objects you can use for conversion.  I thought that method was a MIJ method...

I will also try to create some better examples of going from MATLAB > ImageJ. The goal is that you can either call a utility method like "IJM.showImage(matlab array)", or just write scripts with a `@MatlabArray` parameter.

I probably won't be able to dig into this until next week. Tha

[2016-02-26 20:16] Ajaxels commented on #141
Hi Mark,
thank you for the comment!
Upon starting ImageJ from Matlab the console window gives some small description, that also has the following text:
[code]

So I was assuming that I can use IJM instead of MIJ... well I can do the following command:

`MIJ.createImage('test', imread('snowflakes.png'), true);`

but there are multiple errors again :(

Is there description of the IJM methods? Some s

[2016-02-26 20:28] hinerm commented on #141
Yeah that's a reasonable assumption! :smile: Ideally we either want to get rid of MIJ, or make IJM preserve the "MIJ.xxx" commands, as you expected.

`IJM.help` or `IJM.usage` is supposed to print out the list of methods. Also the valid commands are supposed to be printed when you first run "ImageJ.m" from MATLAB.

Definitely! Thanks a lot for the feedback.

[2016-02-29 10:07] tischi commented on #136
Hi @axtimwalde, thanks a lot! I will try it asap!

[2016-03-02 14:34] tischi commented on #136
Is there a deadline from which on `imagescience` will not be shipped with Fiji anymore?

[2016-03-02 15:50] hinerm commented on #136
@tischi I believe they have already been split out? But all that changed is that they stopped shipping with the **core** (Fijij) update site.

@emeijering maintains the ImageScience [update site](http://imagej.net/ImageScience) and I don't see any reason these plugins would cease to be available there

[2016-03-03 10:02] imagejan commented on #136
@hinerm currently the imagescience libraries are still served by *both* the Fiji and the ImageScience update sites (the latter one overriding the former).

From the [announcement](http://imagej.net/2016-01-05_-_ImageScience_is_moving_to_an_update_site):

So there wasn't a deadline announced yet for removal from the Fiji update site.

[2016-03-05 14:03] emeijering commented on #136
@tischi @hinerm The [ImageScience](http://imagej.net/ImageScience) library and plugin suites will indeed remain available ([source](https://github.com/imagescience) and [compiled](http://sites.imagej.net/ImageScience/)) so by all means feel free to continue using them.

[2016-03-22 20:43] chalkie666 commented on #119
I get the same error message about Object, got version 52, wants version 50, here is how:
Fiji downloaded, windows 7 64 bit, with java 1.6 bundled. Ran a macro that calls a plugin in the plugins directory which is a .java file - , it gets compiles, and runs fine....this works.
Then rename the Fiji.app/java folder to something else, so Fiji then pick up the system installed java 1.8. Run the same m

[2016-03-23 18:17] ctrueden commented on #119
@chalkie666 It will only work with Java 8 if:
* You enable the Java-8 update site; and
* You delete `jars/javac-1.6.0.24-ubuntu-fiji2.jar` and `jars/tools-1.4.2.jar`

I want to mark those files obsolete on the Java-8 update site, but due to a bug in the Updater, cannot currently do so.

[2016-04-01 18:18] hinerm commented on #141
@Ajaxels I finally had the time to revisit ImageJ-MATLAB. I fixed several usability issues and tried to make the IJM usage friendlier. I also added a parallel example for using [ImageJ in MATLAB](http://imagej.net/MATLAB_Scripting#Running_ImageJ_within_MATLAB). It's working well in my tests and I was able to run MATLAB with Java 8, although I didn't directly test 3D viewer.

Hope this helps. If yo

[2016-04-01 19:10] Ajaxels commented on #141
I need to look into this again
Thank you!

[2016-04-21 02:43] ctrueden commented on #83
Progress:
* https://github.com/scijava/pom-scijava/commit/11c95964d49389be60b3b2b380b08f75d73cbbf8
* https://github.com/fiji/Simple_Neurite_Tracer/commit/82ba66f474ca445429ed5134486ff6c8bf69f0c9
* https://github.com/fiji/TrackMate/commit/af5bb362c94cffd3250fe1a07843d287035687ac
* https://github.com/fiji/IO/commit/370e18d009738972c427c289e007c78296fe6c0a

Releases coming soon!

[2016-04-23 00:41] ctrueden commented on #83
All is complete, and uploaded to the Java-8 update site. However, there is currently a bug in the updater which prevents marking files obsolete on downstream update sites. So, I cannot remove the old batik uber-JAR yet. As soon as we find a workaround, I'll close this issue.

[2016-04-27 12:41] bramalingam commented on #83
@ctrueden : The workflow (of opening an .msr file with the Java8 update site enabled) works without any issues on the Bio-Formats side, on Windows.

[2016-04-27 14:06] ctrueden commented on #83
@bramalingam Thanks for the feedback. Glad it is working for your needs. I will close this issue now since all is resolved on the coding side. The removal of the `batik` uber-JAR will take place when we migrate the Java-8 components back to the core Fiji and ImageJ update sites, hopefully soon.

[2016-04-27 14:06] #83 closed

[2016-04-28 19:03] hinerm opened #144 "Remove dupliate Plugins > Utilities entries"
Presumably one of these has an invisible character to separate them. However, it is extremely confusing. I propose either renaming the second entry to something like "Utils" or "Tools", or moving everything to the core "Utilities" heading. A lot of these entries could be moved (e.g. "Plugins > Utilities > Debugging" contents can go int "Plugins > Debug", and I feel like "Make Fiji Package" should

[2016-04-28 19:13] ctrueden commented on #144
I was just in the process of cleaning up the Help menu. However, in the case of the Help menu, I concluded that we really need a SciJava discovery mechanism for scripts inside of JAR files, similar to Java commands. That will make it much easier to ship small scripts in a versioned way with ImageJ and Fiji.

Anyway, perhaps this issue should be generalized to "menu cleanup" since there are lots of

[2016-05-03 14:54] bogovicj commented on #135
Late to the party, but very happy this conversation is happening - of the libraries mentioned, I've used ejml and have been quite happy with it.

But after seeing the performance of ojAlgo linked to by @kephale and @StephanPreibisch, I'm now interested in giving it a try.  If and when I do, I'll weigh back in.

[2016-05-03 14:57] stelfrich commented on #135
For the record.

@dietzc in Gitter:

[2016-05-18 18:21] ctrueden commented on #120
@iarganda Any word from the weka developers on suppressing this exception? These exceptions that TWS pops when it is first run are pretty scary for users.

[2016-05-19 14:49] aschain commented on #127
I made these changes in my forked imagej, I don't know if they would be of interest:
https://github.com/aschain/imagej1/blob/master/ij/gui/Toolbar.java#L1368-L1384
and
https://github.com/aschain/imagej1/blob/master/ij/Menus.java#L1526-1535
and
https://github.com/aschain/imagej1/blob/master/ij/plugin/Commands.java#L158-161

I find this is best for editing Startupmacros in the fiji script editor by

[2016-06-06 16:03] ctrueden commented on #127
@aschain Thanks. Note that @rasband is the one who makes the call w.r.t. code in the ImageJ1 codebase. You could file your changes as a PR and see what he says.

[2016-06-06 18:26] rasband commented on #127
The Plugins>Macros>Startup Macros command in the latest ImageJ daily build (1.51c1) opens StartupMacros.fiji.ijm if StartupMacros.txt and StartupMacros.ijm are not found. Changes can be viewed at https://github.com/imagej/imagej1/commit/74341c45c23d528c3f783928eb47b9790dd02cbf

[2016-07-20 19:50] ctrueden commented on #119
I am going to go ahead and remove those files from the core ImageJ and Fiji update sites. That way, with the Java-8 site enabled, Java coding will work in the Script Editor out of the box—meaning that Java coding will work with fresh downloads of Fiji again. People who have no upgraded beyond Java 6 will lose the ability to compile Java code in the Script Editor. But I see no way around that, with

[2016-07-20 19:59] ctrueden commented on #119
I removed those two files. Actually, Java compilation now works in Fiji even _without_ the Java-8 update site enabled, as long as the installation is using Java 8. (I did not test with Java 6, but I am guessing it probably does not work.)

As a side effect, we are now closer to a legal software distribution—it was not kosher to be distributing the `tools.jar`, but we now no longer do it, so hooray

[2016-07-20 19:59] #119 closed

[2016-08-10 07:19] stelfrich commented on #135
I thought I had already added a comment about that, well, seems like I did not :frowning:

When looking into https://github.com/imglib/imglib2/issues/137, I also did a short survey on what functionality is used in the fiji organization:
- `Matrix.transpose()` = matrix transpose
- `Matrix.solve()` = solve Ax = B
- `Matrix.eig()` = eigenvalue decomposition
- `Matrix.normF()` = Frobenius norms (also

[2016-09-09 12:34] SarenT opened #148 "Fiji doesn't display all text (labels) of menu items and files."
Hi,

I have realized that Fiji doesn't display all the text/labels anymore. This annoying, since I don't know by heart, where each menu item is. I didn''t use it for while and since my last usage, I have upgraded my Ubuntu from 14.04 to 16.04. Please see the screenshots I have taken:
![fiji problem](https://cloud.githubusercontent.com/assets/2906565/18386906/de576990-7699-11e6-826d-c7292b675e5a.pn

[2016-09-09 12:53] ctrueden commented on #148
This is a bug in the interaction between Linux and Java 6. Try upgrading to Java 8:

*  ```bash
    sudo apt install openjdk-jdk-8
[code]

[2016-09-09 14:02] SarenT commented on #148
It indeed solved the issue. Thanks a lot!

[2016-09-09 14:02] #148 closed

[2016-09-15 09:27] paulmenzel opened #149 "Problems with securely accessing https://imagej.net"
Currently securely accessing the [ImageJ Web site](https://imagej.net) is not possible, as assets are linked over HTTP and not HTTPS (mixed content), which the browser blocks.

![20160915 imagej https mixed content](https://cloud.githubusercontent.com/assets/9318792/18544897/255fc25a-7b37-11e6-8515-5f047035ea6d.png)

[2016-09-15 12:41] PierreMuller opened #150 "Startup crash after FiJi update 2016-09-15"
Following automatic update of Fiji,
Fiji is not able to start anymore.

Using DEBUG method for Windows-64bit by renaming executable to debug.exe
I get the backtrace below.

  Last update seemed to only update bioformats jars.
Could be related to new 5.2.2 bioformat release.

Pierre Muller

[DEBUG] Created service 'io.scif.io.DefaultNIOService' in 0 ms
[DEBUG] Creating service: io.scif.ome.services

[2016-09-15 12:51] PierreMuller commented on #150
As it seems mainly link to bioformat,
I also submitted a bug report to openmicroscopy:

https://github.com/openmicroscopy/bioformats/issues/2578

Pierre Muller

[2016-09-15 14:48] ctrueden commented on #149
Indeed, this is a known issue. We only recently deployed HTTPS across all LOCI servers, and some of the domains including imagej.net are not fully set up yet—hence the lack of announcement.

In future, please file ImageJ issues at https://github.com/imagej/imagej/issues. This repo is for Fiji-specific things.

[2016-09-15 14:59] paulmenzel commented on #149
Thank you for the quick response. I am sorry that I missed the link in the box at the [page *Report a Bug*](http://imagej.net/Report_a_Bug), and followed the link *BugZilla*.

[2016-09-15 15:06] PierreMuller commented on #150
With the help of Sébastien Besson,
I was able to start Fiji again, after change the ImageJ.cfg
to point to a newer version of javaw.exe.

The Fiji installed javaw was version 1.6.0_24
which generated the error above,
while new version is: 1.8.0-101.

  According to Sébastien Besson, it is the scijava part of core 1.6.0 that is too old
for new bioformats, but I have no ideas how such version depend

[2016-09-15 15:51] ctrueden commented on #149
@aneevel FYI. See above; people anxiously await full HTTPS support!

[2016-09-15 16:46] ctrueden commented on #150
No, not using the updater. See [these instructions](http://imagej.net/Frequently_Asked_Questions#How_do_I_launch_ImageJ_with_a_different_version_of_Java.3F).

In general, it is best practice to run ImageJ and Fiji with Java 8 these days. If you [download a fresh Fiji](http://fiji.sc/#download), it comes bundled with Java 8 out of the box.

See also:

* [ImageJ HOWTO - Java 8, Java 6, Java 3D](http

[2016-09-15 16:47] #150 closed

[2016-10-07 21:17] margiezilla opened #151 "Error sometimes appears when running my ImageJ macro - should I be worried?"
Error sometimes appears - should I be worried? This is the error:

`Error while executing the main() method of class 'net.imagej.Main':
java.lang.NullPointerException
	at net.imagej.legacy.IJ1Helper.setVisible(IJ1Helper.java:295)
	at net.imagej.legacy.ui.LegacyUI.show(LegacyUI.java:129)
	at org.scijava.ui.DefaultUIService.showUI(DefaultUIService.java:155)
	at org.scijava.ui.DefaultUIService.showUI

[2016-10-10 20:06] ctrueden commented on #151
Thanks for the report, @margiezilla!

Are you able to reproduce that error every time with a particular dataset? If so, could you share the dataset which reproduces it? Our ideal goal here would really be to get down to a [Minimal, Complete, Verifiable Example (MCVE)](http://stackoverflow.com/help/mcve), to make it as easy as possible for us to investigate and fix this bug.

[2016-10-11 20:05] margiezilla commented on #151
Yes, I can share the dataset. This is how I run the code to try to merge channel01.nrrd, channel02.nrrd, channel03.nrrd with a given flycircuit_neuron.nrrd using my ImageJ macro

`ImageJ-linux64 -macro /path/to/intersectflycircuitwithbrainreg.ijm /path/to/channel01.nrrd  /path/to/channel02.nrrd  /path/to/channel03.nrrd /path/to/vfb_00013686.nrrd /path/to/output/folder/ label`

Yes, it works fine w

[2016-10-11 20:06] margiezilla commented on #151
They all have the same number of images in the stack (218 images), so that is not the issue.

[2016-10-11 21:35] ctrueden commented on #151
@margiezilla Thank you very much for the data and clean steps to reproduce.

I think this is a race condition. I was able to reproduce the issue with `vfb_00013686` as well... sometimes.

I have not had time to debug why yet, and probably won't in the near future. If things are working for you in the meantime, that's good.

[2016-10-12 15:55] margiezilla commented on #151
Thanks for taking the time to respond. Unfortunately, I actually can't merge the first channel out of all my channels, so it is still a pretty problematic bug :(

[2016-11-17 08:41] sty1o1993 opened #154 "Custom ROI set density faliure"
When creating a custom ROI area after doing that automatically and measuring density, in different gels i get the same results while spots have the different density at visual evaluation. What can be solution for that?

[2016-11-17 13:23] imagejan commented on #154
Duplicate of https://github.com/imagej/imagej/issues/151

Can you explain more clearly what's the problem, please? See http://imagej.net/Bug_reporting_best_practices

[2016-11-27 23:56] William87 opened #155 "Problem with running a plugin"
Exception message:

(Fiji Is Just) ImageJ 2.0.0-rc-54/1.51h; Java 1.8.0_66 [64-bit]; Windows 10 10.0; 55MB of 6048MB (<1%)

java.lang.NoClassDefFoundError: org/apache/poi/ss/usermodel/Sheet
	at java.lang.Class.getDeclaredConstructors0(Native Method)
	at java.lang.Class.privateGetDeclaredConstructors(Class.java:2671)
	at java.lang.Class.getConstructor0(Class.java:3075)
	at java.lang.Class.newInstan

[2016-11-28 04:42] cmci commented on #155
Hi @William87

I think without explaining which plugin you are trying to run, it will be very difficult for anyone to think about what the problem is.

[2016-11-28 11:22] William87 commented on #155
Hi Kota Miura,

sorry, the plugin I am talking about is Imaging FCS 1.491. You can find it to the following link: http://www.dbs.nus.edu.sg/lab/BFL/imfcs_image_j_plugin.html.

Thank you for your interest.

[2016-11-28 11:57] cmci commented on #155
You need to install Apache POI, and your error log is telling that you did not. Please carefully read the instruction provided in the FCS plugin page you linked, and setup the correct environment for the plugin.

[2016-11-28 12:00] imagejan commented on #155
@William87 you might also contact the original authors and ask them to set up an [update site](http://imagej.net/Update_Sites), which would make it much easier to use their plugin (i.e. installation by a single click).

[2016-11-28 14:46] William87 commented on #155
I installed Apache POI coping the whole poi-3.15 folder into the jars folder of Fiji. I followed as well all the procedure provided in the FCS plugin page, nevertheless I get the above exception message.

[2016-12-21 09:20] sbesson opened #156 "Bio-Formats update scripts"
Hi @ctrueden,

unsure whether an issue is the best place to discuss the technical bits, feel free to redirect me to the ImageJ forum. There has been a few issues reported with the ImageJ Bio-Formats update site lately (http://forum.imagej.net/t/bioformats-micromanager-clash/3393, http://forum.imagej.net/t/recent-issue-with-bioformats-multiposition-file-opening-from-a-macro-macro/3496).

The compon

[2017-01-05 19:47] TomkoLA opened #157 "FIJI Arrow Tool Bug"
I was adding some arrows to images in FIJI and came across an unusual bug. The 'arrow' tool allows me to set an arrow color (which I had set to white for best contrast) and then use the 'Draw' feature to add it to the image. If I use the FIJI menu, select Edit and then Draw from the drop-downs, the arrow color is correct, despite what channel of the image I have selected. I saw that there is a 'Dr

[2017-01-09 19:29] ctrueden commented on #157
Thanks for the report, @TomkoLA. Does this bug happen with plain ImageJ 1.x as well? Or only with Fiji?

/cc @rasband

[2017-01-09 19:55] TomkoLA commented on #157
It does appear to also occur in plain ImageJ (v1.49 that I have, at least).

[2017-02-21 15:05] lbuchegger opened #158 "Additional point after the third decimal in results"
I am analysing the area and diameter (Feret´s diameter) of more or less roundish objects on my pictures in FIJI, via transforming them to binary and further modifying them. However, via Analyze particles and Measurement in the ROI manager sometimes there are point added to the results behind the third decimal if you save the results an dopen them in Excel. In some pictures there are no commas at a

[2017-02-21 15:11] imagejan commented on #158
Are you sure you're not confounding thousands separator and decimal separator here? Which locale does your Excel use? If it's using a comma as decimal separator, you'll have to explicitly switch to `.` for importing data from ImageJ, as ImageJ/Fiji always use the dot, independent of the system's locale.

[2017-02-22 09:28] lbuchegger commented on #158
You are right. I double checked it and it seems that this is the problem.
Thanks a lot for your help

[2017-02-23 19:12] aderzelle opened #159 "Open GL exception"
Hello everyone,

When trying to use the 3D plugin of Fiji, on Windows 10 (graphic card: AMD Radeon HD 7400M Series), I get the following error

"
3D [dev] 1.6.0-scijava-2-pre11-daily-experimental daily

com.jogamp.opengl.GLException: J3D-Renderer-1: createImpl ctx !ARB but ARB is used, profile > GL2 requested (OpenGL >= 3.1). Requested: GLProfile[GL4bc/GL4bc.hw], current: 1.1 (Compat profile, comp

[2017-02-23 20:17] ctrueden commented on #159
Yes, this is being discussed at fiji/3D_Viewer#17.

There is a fixed launcher, which you can [download here](http://sites.imagej.net/Aschain/fiji-win64.exe-20161102105633). I have not formally released and uploaded this fix yet, but it is reported as working by many Windows users.

[2017-02-23 20:17] #159 closed

[2017-03-01 10:58] rejsmont opened #160 "Random jython exceptions in Fiji 2.0.0-rc-59/1.51j and jython-shaded-2.7.0"
Hi,

I have implemented a jython plugin some time ago. It used to work fine last year (latest commit on Nov 5, 2015). Now I had to use it again and I am running into pretty random java exceptions like the one below:

[code]

After one of such exceptions is triggered, the jython import system goes haywire and fails to find even as basic classes as ImagePlus, etc. Naturally I have all required impor

[2017-03-14 18:34] JonMarsh opened #161 "Feature request: update the weaver"
For those of us who prefer to program in python, access to performant, pixel-wise algorithms is lacking with respect to ImageJ plugins written in pure Java, or compiled JavaScript or Groovy.  The weaver would conveniently fill this gap for the most part, especially for scripts that need to access pixel data arrays.  Given that jython scripting is widely used in the ImageJ community (and in many of

[2017-03-27 19:07] ctrueden commented on #160
Sorry for the delay in reply, @rejsmont. This is a known issue when your Python code registers callbacks which survive the execution of the script itself.

There is some rather aggressive reference cleaning logic which tries to null things out as soon as the script execution completes. Without such logic, Jython scripts end up with huge memory leaks, since references within the script are retained

[2017-03-27 19:36] ctrueden commented on #161
Fixing the [Jython weaver](https://github.com/fiji/weave_jy2java) probably entails solving imagej/imagej-ui-swing#48, as well as imagej/imagej#105. In other words: we need a robust way of compiling and running Java code dynamically. The current [scijava/scripting-java](https://github.com/scijava/scripting-java) unfortunately has several problems.

[2017-04-02 11:10] rejsmont commented on #160
@ctrueden thanks for the update... and sorry to hear there's no easy solution :(

[2017-04-11 08:20] rejsmont commented on #160
Today's XKCD reminded me of this bug :)

![Existential Bug Reports](https://imgs.xkcd.com/comics/existential_bug_reports.png "ISSUE: If we wait long enough, the Earth will eventually be consumed by the Sun. WORKAROUND: None.")

[2017-04-11 12:54] ctrueden commented on #160
@rejsmont Sorry, I know it's frustrating.

I have an idea for working around it. It's not pretty, but it would give you the functionality you need, at least locally.

We could add a toggle for the reference cleaning, via a system property like `scijava.jython.skipRefCleaning`. If you set this system property to true, then the reference cleaner is disabled.

Once the bug is fixed properly, the syst

[2017-04-11 13:15] rejsmont commented on #160
@ctrueden that sounds like a good plan! Thanks for that!

[2017-04-11 14:02] ctrueden commented on #160
@rejsmont Looking at the code carefully, there is no way the reference cleaning works as intended anymore on the current master branch. I am investigating the best way forward. It would be helpful to have a minimal example for testing—unfortunately, I cannot remember how I tested it before.

[2017-04-11 14:24] ctrueden commented on #160
@rejsmont Good news! In my tests now, it seems like the memory leak is gone, with the switchover to the stock Jython JSR-223 script engine (which was done on 2017-03-14, and is not yet released). I used the following script:
[code]
Where `dub.tif` is a 1GB 4D image.

Memory usage, as expected, spikes to >1200MB. But after a few second, performing a garbage collection operation drops memory back do

[2017-04-11 14:57] ctrueden commented on #160
Thanks for testing, @rejsmont. I will try to cut a new release (of `scripting-jython` as well as many other components needing release) before week's end.

[2017-04-11 14:57] #160 closed

[2017-04-11 15:29] rejsmont opened #163 "Fiji cannot import Ilastik hdf5"
Hi again,

I have been trying to import some Ilastik probability maps in hdf5 format. Unfortunately, it seems that Fiji hdf5 importer cannot handle multichannel float32 images :( Any workarounds other than exporting tiffs from Ilastik?

![screen shot 2017-04-11 at 17 26 38](https://cloud.githubusercontent.com/assets/1191962/24917094/5dbc91d4-1edc-11e7-9c81-581730e2f65a.png)

[2017-04-11 19:10] ctrueden commented on #163
Which HDF importer do you mean? Fiji does not ship with one.

Do you mean the HDF5 update site? The author stopped maintaining it, but gave permission for the Fiji community to continue doing so. So we forked it, and you can find the repository at [fiji/HDF5_Vibez](https://github.com/fiji/HDF5_Vibez). The current maintainer is @kmdouglass.

In general, I suggest you post questions on the [ImageJ F

[2017-04-11 19:10] #163 closed

[2017-04-13 19:16] camlloyd opened #165 "ArgumentError: invalid Java class or interface: ij.CompositeImage"
The error below is now produced in the interpreter log when I try to run any JRuby code.

I have just had to reinstall Fiji so I am wondering if it is to do with that?

`ArgumentError: invalid Java class or interface: ij.CompositeImage
  java_import at file:/Applications/Fiji.app/jars/jruby-core-1.7.12.jar!/jruby/java/core_ext/object.rb:34
          map at org/jruby/RubyArray.java:2409
  java_impo

[2017-04-13 19:19] camlloyd commented on #165
Apologies, I have fixed this. It was due to a JDK version conflict!

[2017-04-17 16:46] ctrueden commented on #156
@sbesson Just want to make sure you saw this... it would be good to discuss the best way to proceed here. Again, I am sorry for my long silence before.

[2017-04-18 11:50] sbesson commented on #156
Hi Curtis. no worries, we definitely understand how quickly backlog can build up.

My initial hope had been to maintain the existing scripts to account for the 5.3.0 architecture changes and open a PR against this repository. Unfortunately, I found no straightforward way to do this and I resolved this by migrating to the POM-based approach mentioned above.

As a general comment, maintaining the Bi

[2017-04-18 12:55] ctrueden commented on #156
You can check the awstats and raw logs of `sites.imagej.net` for the `Bio-Formats` directory. @joshmoore has access to this, and knows how. If you do this, I suggest looking at the stats from before the breakage, since it is likely that usage dropped way down after the site became non-functional.

I definitely appreciate that. But releases have still been on the order of one per month. I personall

[2017-04-18 16:37] ctrueden commented on #156
For what it's worth, the Bio-Formats update site is the third-most-popular non-core update site, narrowly behind Tboudier (3D suite) and ImageScience.

[2017-04-19 14:04] #165 closed

[2017-04-20 09:08] sbesson commented on #156
Many thanks for the extra information.

Discussed the topic with the rest of the team yesterday and we certainly recognize the value of this update site. We will investigate the automation of uploading the latest JARs to an update site and hopefully the maintenance of the Bio-Formats update site. This will likely in the background task as we have other priorities but I would think we'll have a bet

[2017-04-20 18:48] ctrueden commented on #156
Sure, just keep me posted. In the meantime, the Bio-Formats update site will unfortunately remain broken.

[2017-05-02 15:08] sbesson commented on #156
@ctrueden heads up on the status of this. Following the instructions on the Wiki (thanks to @hadim for the contribution), we configured Travis CI to deploy the latest SNAPSHOT JARs to the Bio-Formats update site (see https://travis-ci.org/openmicroscopy/bio-formats-fiji/builds/227941004). Additionally, a [daily cron job](https://docs.travis-ci.com/user/cron-jobs/) has been set up which should allo

[2017-05-02 15:08] #156 closed

[2017-05-02 16:44] ctrueden commented on #156
Thank you @sbesson!

[2017-05-10 04:06] acardona commented on #161
I've just pushed to master an update to the Weaver that drops dependencies altogether, not depending on ImageJ, the now obsolete Refresh_Javas compilation framework, or Fiji's Script Editor. See commit #933e7fa5eb0b.

Note the still implicit dependency on com.sun.tools.javac.Main from the tools.jar, which has to be included in the java classpath if not there. For example, when using openjdk-8 (jav

[2017-05-10 18:48] ctrueden commented on #161
Going forward, I would strongly suggest to use [scripting-java](https://github.com/scijava/scripting-java), which uses `javax.tools.JavaCompiler`, which is the officially supported way of compiling Java code via Java's public API. If that approach is insufficient for any reason, we can look at improving things at the `scripting-java` level so that everyone who needs to compile Java code benefits.

[2017-05-10 23:40] lizcw opened #166 "ImageJ net is running insecurely"
I have just come to the http://imagej.net in the hope to contribute an ImageJ plugin but am surprised and dismayed to see that it is running insecurely.  It should be running over https, especially where participants are expected to enter account details as currently the username and passwords will be sent in plain text.

[2017-05-11 01:07] ctrueden commented on #166
@lizcw The site does support HTTPS. Just change `http:` to `https:` and you should be secure.

We do not yet redirect all `http` traffic to `https` because doing so can have negative technical ramifications in various ways. So I want to hold off on forcing everyone to HTTPS for a bit longer.

[2017-05-11 01:15] ctrueden opened #167 "Organize the menu structure"
As discussed on the ImageJ forum in a couple of different threads ([1](http://forum.imagej.net/t/2442), [2](http://forum.imagej.net/t/5047), we should invest some effort again in making the Fiji menu structure coherent and consistent.

A good starting point would be @tferr's [incomplete list of "misplaced" menu entries](http://forum.imagej.net/t/customize-menus-in-fiji/2442/7?u=ctrueden), and mayb

[2017-05-11 01:16] lizcw commented on #166
Thanks for letting me know.  I have set up whole sites over https without seeing any adverse issues - perhaps at least the login pages could be redirected?  Regards Liz

From: Curtis Rueden [mailto:notifications@github.com]
Sent: Thursday, 11 May 2017 11:07 AM
To: fiji/fiji <fiji@noreply.github.com>
Cc: Liz Cooper-Williams <e.cooperwilliams@uq.edu.au>; Mention <mention@noreply.github.com>
Subject:

[2017-05-11 01:29] ctrueden commented on #121
Over two years later, I am finally on the cusp of completing this project. See [this forum thread](http://forum.imagej.net/t/project-developer-roles/206) and the [scijava/mediawiki-maven-info](https://github.com/scijava/mediawiki-maven-info) repository. Together with the [grand pom-scijava unification](http://forum.imagej.net/t/split-boms-from-parent-configuration/2563) and corresponding update of

[2017-05-11 04:38] acardona commented on #161
The new feature Weaver.method is implemented: https://github.com/fiji/weave_jy2java/blob/master/src/main/java/fiji/scripting/Weaver.java#L248

[2017-05-11 22:16] ctrueden commented on #161
I cut [a new release](http://maven.imagej.net/#nexus-search;gav~sc.fiji~weave_jy2java~2.1.0~~) and also [added it to the SciJava component collection](https://github.com/scijava/pom-scijava/commit/11f82f8fd367d1fd8f96b3d96cd90118d6ee6a34). I will upload it to the Java-8 update site later tonight, barring any objections. So I think this issue can be closed as resolved! Thanks @acardona for your eff

[2017-05-11 22:16] #161 closed

[2017-05-12 14:19] JonMarsh commented on #161
Thank you @acardona and @ctrueden for so rapidly reviving this awesome feature!  It is much appreciated.

Jon

[2017-05-26 03:51] ctrueden commented on #90
The `search.imagej.net` thing has existed for quite some time now.

[2017-05-26 03:51] #90 closed

[2017-05-26 03:57] ctrueden commented on #120
I guess this problem went away with the weka upgrade? At least: I'm not seeing those exceptions anymore in an up-to-date installation on my system.

And all JARs that are officially still part of the ImageJ and Fiji software stacks do include manifests now. So I'd say this issue is thoroughly closed.

[2017-05-26 03:57] #120 closed

[2017-05-26 04:00] ctrueden commented on #149
The HTTPS support has been complete for quite some time now.

[2017-05-26 04:00] #149 closed

[2017-05-26 04:02] ctrueden commented on #155
We cannot offer support here for non-Fiji third party plugins, especially those installed manually without using update sites. If you are still having this issue, and still need help, you could make a post on the [ImageJ Forum](http://forum.imagej.net/) about it.

[2017-05-26 04:02] #155 closed

[2017-05-26 04:04] ctrueden commented on #166
Closing, since imagej.net is accessible over HTTPS, and anyway this issue is not related to Fiji.

Eventually, we will probably redirect all HTTP traffic to HTTPS, but not until after some more pressing work on the servers.

[2017-05-26 04:04] #166 closed

[2017-05-26 04:04] #158 closed

[2017-05-26 04:05] ctrueden commented on #126
Working with 2.0.0-rc-59/1.51n with Fiji. Presumed fixed.

[2017-05-26 04:05] #126 closed

[2017-05-26 04:08] #127 closed

[2017-05-31 14:38] rcatwood commented on #167
Agree! Recently a colleague at University of Manchester explained his routine including a bilateral image filter, and I was puzzled because I had never seen that available in Imagej/Fiji, and I couldn't find it. But it is there, in a deep menu somewhere.

[2017-05-31 14:47] rcatwood commented on #131
See recent thread on ImageJ mailing list , I had a similar issue using Huang's method in the Auto Threshold plugin . G. Landini is aware of it...

Re: Autothresholding results;  (was FW: Threshold is giving an incomplete range ?)

R.Atwood:

[blur10blob16.zip](https://github.com/fiji/fiji/files/1041898/blur10blob16.zip)

G. Landini:
Yes, I can reproduce it in that image. Had a look at the source,

[2017-05-31 15:08] imagejan commented on #131
/cc @landinig

[2017-05-31 15:14] imagejan commented on #167
@rcatwood

The [command finder](https://imagej.net/Using_the_Command_Launcher) is extremely helpful for that.
Hopefully, recent work by @ctrueden in https://github.com/imagej/imagej-legacy/compare/search-bar will make this functionality more visible to users.

[2017-05-31 15:39] landinig commented on #131
Thanks. I was not aware of the early report, only the recent one.
Really all these methods are very slow on 16bit images and were developed originally for 8 bit images.
I will look in detail into all this but in the mean time I can only suggest to either download the one on my page (which includes the original Huang code) which does not give that error and keep Johannes's code which is very quick

[2017-06-05 01:34] ctrueden commented on #121
I regenerated all the sidebars based on `imagej-2.0.0-rc-61` and `fiji-pre-1`. And I updated the vast majority of the corresponding ImageJ wiki pages to use `ComponentStats` sidebar templates.

The current way that the [mediawiki-maven-info](https://github.com/scijava/mediawiki-maven-info) code works is rather defective, though, and still needs another iteration of development before we will be ab

[2017-06-08 09:22] bpavie opened #168 "PNG File opening issue"
Dear All,

I realized that using Fiji, opening PNG file whether the option  _Use SCIFIO when opening files (BETA!)_ is checked or not conduct to 2 different results.

You can find the PNG file here: [https://bioimagingcore.be/owncloud/index.php/s/mOqWDToMg3Uyq2f](https://bioimagingcore.be/owncloud/index.php/s/mOqWDToMg3Uyq2f). It is supposed to be an 8 Bits black and white PNG file where white has

[2017-06-14 14:56] awellsISR opened #169 "Fiji Hangs when execute "Stack to Images""
I've been using ImageJ and Fiji for several years and this is a new problem that has started happening.  After opening a small .tif stack (8-bit, grayscale, 16 slices, 512x512) and running "Stack to Images", Fiji starts the process and then hangs.  The few 'images' that it creates from the stack are blank white windows.

I followed the instructions here [https://imagej.net/Troubleshooting#Launchin

[2017-06-19 06:04] ctrueden commented on #166
For `imagej.net` itself, I have now instituted a blanket HTTP-to-HTTPS redirect. See [this topic](http://forum.imagej.net/t/imagej-net-http-blanket-redirect-to-https/5730) for details.

[2017-06-21 09:14] vkehayas opened #170 "Fiji for linux not launching"
Freshly installed Fiji refuses to launch in debian 9:

[code]

I see that a possibly similar issue was fixed for windows and mac (e.g.):
http://fiji.sc/bug/1008.html

Also possibly related bug: https://github.com/fiji/fiji/issues/122 (renaming Fiji.app/java to java.bak did not solve the issue).

`jdk1.8.0_66` is included in `Fiji.app/java/linux-amd64
`
[code]

[2017-06-21 11:05] ctrueden commented on #170
This is being discussed [here on the forum](http://forum.imagej.net/t/unable-to-start-imagej-on-ubuntu-16-04-2-fresh-install/5757).

[2017-07-24 22:29] avik2007 opened #171 "InstallJava3D and MATLAB"
I'm trying to use BoneJ in Miji and so I need to download the JAVA3D libraries (or install them at least). However, every time I try I run into the following problem:

[2017-08-21 21:46] #170 closed

[2017-09-07 15:46] dcolam opened #172 "Fiji Jython-scripting error after update"
Dear All,

Until I did an update this afternoon Fiji worked like a charm. I was using an older version I downloaded originally the 22nd of October but kept it updated from time to time. Now when I open it, I get this error and I can't do anything.

[ERROR] Exception during event handling:
	[Event] org.scijava.ui.event.UIShownEvent
	context = org.scijava.Context@37763233
	consumed = false
	ui = leg

[2017-09-07 16:13] imagejan commented on #172
I don't the reason for this issue, but you can replace all uses of GenericDialog by [script parameters](https://imagej.net/Script_Parameters), then it should at least work.

This is a known problem: see [here](http://forum.imagej.net/t/jython-isssue-with-if---name-----main--/5544?u=imagejan) and https://github.com/scijava/scripting-jython/issues/9

[2017-09-08 07:44] imagejan commented on #172
Discussion is happening [on the forum](http://forum.imagej.net/t/fiji-jython-scripting-error-after-update/6878?u=imagejan), where you also posted this.

In the future, please always link if you're cross-posting on two different locations, so that others don't miss half of the discussion ;-)

[2017-09-08 14:03] kozusznik opened #173 "Problem with http://maven.imagej.net"
Downloading stops for http://maven.imagej.net/content/groups/public/io/scif/scifio-jai-imageio/1.1.1/scifio-jai-imageio-1.1.1.jar at 654 KB. It also timeouts after few minutes.

[2017-09-08 14:04] #173 closed

[2017-09-08 14:08] ctrueden commented on #173
@kozusznik Sounds like a network quality issue. I was able to download it successfully here. Are you still having problems?

[2017-09-08 14:54] kozusznik commented on #173
Yes, It was probably network issue. I have switched to different provider and it goes correctly. Only one confusing thing is that other jars were downloaded without problem.

[2017-09-08 15:13] ctrueden commented on #173
@kozusznik Glad you got it sorted. If it happens again in the future on any particular network, you can try using `https:` instead of `http:`; it might help, since some networks muck around with intermediate layers which can disrupt or modify plain `http:` traffic. But they can't do that with `https:` since it is encrypted. 😄

[2017-09-21 18:48] wyneh9080 opened #174 "Some .ND2 files won't open"
I've been having trouble opening about every 9/10 files I have saved.  I can open them in NIS viewer but not in fiji.  I get a few different error options one saying that it cannot open files with the .nd2 extension and one saying that there was a java error.  As I said certain files will still open on Fiji and all of them open on NIS.  Is it a problem with Fiji or the file type? What can I do to

[2017-09-23 07:06] ctrueden commented on #174
The ND2 format is handled by [Bio-Formats](https://imagej.net/Bio-Formats). Please see the [Bio-Formats bug reporting](https://docs.openmicroscopy.org/bio-formats/5.7.1/about/bug-reporting.html) page for details on how to report an issue to that project. The [bug reporting best practices](https://imagej.net/Bug_reporting_best_practices) page might also be useful.

For these kinds of file-format-re

[2017-09-23 07:06] #174 closed

[2017-10-10 09:36] imagejan commented on #155
For the record: there is now an update site `http://sites.imagej.net/ImagingFCS/` that can be [activated in the updater](https://imagej.net/Following_an_update_site) to install the plugin and its dependencies.

See also [this discussion](http://forum.imagej.net/t/upload-site-for-plugin-downloadable-jar/7360?u=imagejan) on the ImageJ forum.

[2017-10-25 09:52] microscopy-imb opened #176 "grid/collection stitching plugin cannot find files"
The grid/collection stitching plugin cannot find files that exist. Below is the error message from the log window.

Loading (0, 0): E:\USER\AG Lutz\Julia\uM_AG Lutz_JL20171019_CalRet3765_Schnitt2-neu3779\001001-2.tif ...
ERROR: Cannot open file 'E:\USER\AG Lutz\Julia\uM_AG Lutz_JL20171019_CalRet3765_Schnitt2-neu3779\001001-2.tif': java.io.FileNotFoundException: E:\USER\AG Lutz\Julia\uM_AG Lutz_JL2

[2017-11-20 12:46] saanasum opened #178 "Save individual segmented objects as individual image files"
Is there a possibility in Fiji to save individual segmented objects as individual image files?

My goal is to automatically detect all nuclei in a FISH image and afterwards save each nucleus as separate image file.

I would like to do this for a large batch of FISH images.

[2017-11-20 18:41] ctrueden commented on #178
@saanasum Yes, you can do it with an [ImageJ macro](https://imagej.net/Macros) such as the following:
[code]
If you have further questions about Fiji usage, please don't hesitate to post them on the [ImageJ Forum](http://forum.imagej.net/). We use GitHub Issues here more for developers, to keep track of bugs and feature requests.

[2017-11-21 15:48] saanasum commented on #178
Many thanks!

[2017-11-21 15:48] #178 closed

[2017-12-03 13:16] LouisSalvaterra opened #180 "<because> the names are now prefixed with C1, C2, etc., mimages is the new built in variable"
In Fiji 1.42, this "magic" snippet worked successfully:
run("Split Channels");
names = newArray(nImages); 		//text array with titles
ids = newArray(nImages);    		//numeric array with image IDs
for (j=0; j < nImages; j++){
       	selectImage(j+1);
       	ids[j] = getImageID();
}
In Fiji 1.51 (Java 8)and Fiji 1.50e (Java 6), the selectImage(j+1) raises error stating that a new builtin variable mi

[2017-12-04 12:37] Michal-IMG opened #181 "Fiji does not operate correctly with the images .r3d and .ome"
Hello,
after the new actualizations and updates, the Fiji program does not operate correctly with the images .r3d and .ome even if before it was completely OK. Moreover, the macros used as the additions to the Fiji on this platform are not working correctly after these updates. Concretely, the macros are dealing with segmentation of the images and colocalization analysis.

Thank you very much for

[2017-12-04 15:30] ctrueden commented on #181
@Michal-IMG It would be very helpful to know which version is working, and which version is not.

* Did you try a [fresh download of Fiji](https://fiji.sc/#download)?
* If a fresh download of Fiji does not work, please then try deleting the files `jars/bio-formats/formats-common*.jar` and `jars/bio-formats/mdbtools-java*.jar`, and see if it works then.

Let us know what you find out!

[2018-02-06 11:11] ZwitterPhD commented on #74
Hi everyone,
I have a problem similar to the one that justaguest had almost four years ago, but I am so noob that I can't figure out if a solution has been found and what is it in practice that I have to do.

Here is my problem - I have some time-lapse files constituted by about 300 frames each. I had set up my system to take a frame every 2 seconds, but for some technical problem that did not hap

[2018-02-06 14:30] ctrueden commented on #74
@ZwitterPhD Are there frames missing from your acquisition? Or is the final OME data "well formed" and able to be imported into Fiji successfully using Bio-Formats?

If it is well formed, have you looked at [the `PrintTimestamps` code example](https://github.com/openmicroscopy/bioformats/blob/v5.7.3/components/formats-gpl/utils/PrintTimestamps.java#L40-L44)? This code can extract the DeltaT values

[2018-02-06 16:46] ZwitterPhD commented on #74
@ctrueden thank you for your answer :)
My OME data are well formed and I can open them in Fiji.
What I want to do is get the DeltaT value of each frame and save it in a table, together with other values that I get from each frame.
I haven't seen the example that you mentioned yet, I will check it out.

[2018-02-15 09:17] ThomasLauney opened #183 "Fiji fails after update (+ adding update sites)"
Hello,
From a fresh install (which was working) on Win7 64
After the last update (and adding BIG, biomed and Omero), I see the splash screen, Fiji windows opens transiently then is gone. Below is the copy of debug:
Any help most welcome

find_newest: searching 'C:\fiji\Fiji.app/java' for 'jre/bin/server/jvm.dll'
find_newest: file not found: 'C:\fiji\Fiji.app/java/jre/bin/server/jvm.dll'
find_newes

[2018-02-15 10:50] imagejan commented on #183
The `scijava-log-slf4j` component is served by the OMERO-5.2 update site:
http://sites.imagej.net/OMERO-5.2/jars/omero/

The version from this update site is pretty old (`scijava-log-slf4j-1.0.3.jar-20160914213814`), so guess this is a compatibility issue with the updated `scijava-common` in Fiji.

@ctrueden any ideas? Can `scijava-log-slf4j-1.0.5` be uploaded to that site?

[2018-02-16 01:01] ThomasLauney commented on #183
Thanks Jan.
I deleted the \Omero and Fiji started normally. Downloaded 5.2.2 directly from OpenMicroscopy and UnZipped in \Plugin. Everything works. I send a note to OpenMicroscopy to suggest that their Update site may be should be "updated..." :-). Thanks for the quick diagnostic

[2018-02-28 22:17] ctrueden opened #184 "Test Fiji master using melting-pot.sh"
We need Travis CI to build Fiji using the melting pot script, to verify that the current runtime state of Fiji is sane. This will entail something like the following:
[code]
There are probably some other groupIds we need to include.

And there is a question of how often we should do this. Every time master is pushed? Nightly via cron?

[2018-03-02 21:38] ctrueden commented on #183
I uploaded the newer `scijava-log-slf4j-1.0.5.jar` to the OMERO-5.2 update site.

[2018-03-02 21:38] #183 closed

[2018-04-20 19:00] ctrueden opened #185 ""Memory & Threads..." has bugs on Windows"
* Download a fresh Fiji from https://fiji.sc/#download
* Unpack it to C:\Users\Curtis\Programs\Fiji.app.
* Launch ImageJ-win64.exe.
* Respond Yes to the Updater prompt; updated the application.
* Restart Fiji when prompted.
* Run Edit > Options > Memory & Threads...
* Set the Maximum Memory to 2000.
* Restart Fiji.
* The ImageJ.cfg is created, and Fiji reports 2000MB when the status bar is clicked

[2018-04-20 19:06] ctrueden commented on #185
Fixing this is quite tricky. My "least bad" idea right now would be to update fiji-compat to proactively write an ImageJ.cfg as soon as it patches the menus for the first time. And fix the ImageJ.cfg writing to specify the _current_ memory limit, not `maxMemory()`.

[2018-04-20 19:19] ctrueden opened #186 "Consider merging fiji-compat into fiji"
The fiji-compat project contains patches intended for the Fiji application itself. It is not intended for consumption as a downstream dependency. (At least: not any more than sc.fiji:fiji itself is.)

As an aside, many of the patches in fiji-compat belong at the ImageJ2 level. But in the meantime, it probably makes sense to simply migrate everything in the fiji/fiji-compat repository back here, to

[2018-05-02 00:22] GenevieveBuckley opened #187 ""Find Ops..." menu item produces java IllegalArgumentException: No such field NAME"
Selecting the Fiji "Find Ops..." menu item from:
Plugins > Utilities > Find Ops...
produces this java illegal argument exception:

[code]

Contents of the Exception window & console log are attached as text files here.
[ConsoleLog.txt](https://github.com/fiji/fiji/files/1965557/ConsoleLog.txt)
[Exception.txt](https://github.com/fiji/fiji/files/1965558/Exception.txt)

Running the latest updated ver

[2018-05-02 00:32] ctrueden commented on #187
Thanks for the report, @GenevieveBuckley! In response to this, I uploaded a new version of scijava-common to the update site. (Bug was actually fixed in the past day or so, but not uploaded till now.) Please update your Fiji and try again!

[2018-05-02 00:44] GenevieveBuckley commented on #187
Wow, there are fast turnarounds, and then there's "oh yeah, the bug is ALREADY fixed". That's awesome!

Updating Fiji with the newest changes to scijava-common has done the trick. Since it seems to be working well now, I'm going to go ahead and close this issue.

[2018-05-02 00:44] #187 closed

[2018-05-17 10:55] kouichi-c-nakamura opened #188 "copytoImgPlus.m does not work"
`scripts/copytoImgPlus.m` does not work

In the following line, the code is trying to convert `ArrayImg` to `ImgPlus`, but it seems that there is no `ImgPlus` class in `imglib2` any longer. I could not find an equivalent either.

https://github.com/fiji/fiji/blob/e2824452ba3efc70f8352b0c09618cd09bc7fac5/scripts/copytoImgPlus.m#L136

Does anyone know a way to fix this?

[2018-05-17 11:13] imagejan commented on #188
It should be [`net.imagej.ImgPlus`](http://javadoc.scijava.org/ImageJ/index.html?net/imagej/ImgPlus.html) from `imagej-common`.

[2018-05-17 11:14] kouichi-c-nakamura opened #189 "scripts/copytoImg.m does not work for more than 2-D images"
MATLAB's `permute` does not accept the second input argument being shorter than the number of dimensions of `I` any longer.

https://github.com/fiji/fiji/blob/e2824452ba3efc70f8352b0c09618cd09bc7fac5/scripts/copytoImg.m#L28

When I run `copytoImg` for a 5-D array data, it issues an error.

[code]

Here is a fix.

[code]

It's clear there is no test code deployed and no one is regularly testing the

[2018-05-17 12:03] kouichi-c-nakamura commented on #188
Fixed as below:

[code]

Issued an error:

[code]

However `net.imagej.ImgPlus(img, name)` works fine.

`ax` is supposed to be `AxisType[]`  and it looks like `AxisType[]`:

[code]

I wonder why it's been rejected. Any idea, please?

[2018-05-17 17:31] kouichi-c-nakamura commented on #188
Fixed as below:

[code]

Issued an error:

[code]

However `net.imagej.ImgPlus(img, name)` works fine.

`ax` is supposed to be `AxisType[]`  and it looks like `AxisType[]`:

[code]

I wonder why it's been rejected. Any idea, please?

[2018-05-19 14:37] imagejan commented on #189
Thanks for the suggested fix, @kouichi-c-nakamura!

In the long term, all these `.m` scripts should move to the [`imagej-matlab`](https://github.com/imagej/imagej-matlab) repository. What do you think, @ctrueden?

[2018-05-19 18:11] kouichi-c-nakamura commented on #189
I wrote an alternative for ImageJ1 `ImagePlus` as well. I agree that they are better to be included in ImageJ-MATLAB.

In fact, it seems that `IJM.show(name)` is no longer needed. The only possibility I can think of is when you want to deal with more than 5D data. But ImagePlus cannot deal with 6D or 7D files well either.

https://github.com/kouichi-c-nakamura/copytoImagePlus

[2018-05-23 11:18] amstart opened #190 "Feature Request: Multi-point tool with more control over point order"
Hello

I use the multi-point tool to define tracks. It would be nice to be able to insert a point between the numbers 4 and 5 e.g. (such that all points n after 4 have a new value n+1 and the new point has the value 4). For instance, there could be a dialogue box asking which number should be inserted upon clicking with a modifier key.

[2018-05-24 10:39] imagejan commented on #190
The multi-point tool is an [`imagej1`](https://github.com/imagej/imagej1) feature.
/cc @rasband

[2018-05-24 18:02] nocnokneo opened #191 "NIFTI image spacing information is ignored"
When opening a NIFTI image with pixel spacing, the information is ignored as can be seen from the `Analyze > Set Scale ...` dialog.

Using an up-to-date installation with ImageJ version 1.52b

[2018-05-25 03:28] rasband commented on #190
Have you tried using segmented lines to define the tracks? A point on a segmented line is duplicated when you shift click on it.

[2018-05-25 07:37] imagejan commented on #191
That's a `bio-formats` issue, since that is where `NiftiReader` is located:

https://github.com/openmicroscopy/bioformats/blob/develop/components/formats-gpl/src/loci/formats/in/NiftiReader.java

Please consider [reporting the bug to the bio-formats team](https://docs.openmicroscopy.org/bio-formats/5.8.2/about/bug-reporting.html).

[2018-05-25 10:52] amstart commented on #190
That is true,measuring with the segmented lines tool doesnt return the coordinates of the points which are part of the curve.
Coming to think about it, that would be a good alternative (is there an easy way to return the coordinates of points making up an ROI?)

[2018-05-25 11:19] imagejan commented on #190
Sure, you can use this Groovy script for example:

[code]

[2018-05-25 14:33] nocnokneo commented on #191
Thanks, I'll report the issue with them.

On Fri, May 25, 2018 at 3:38 AM Jan Eglinger <notifications@github.com>
wrote:

[2018-05-25 14:48] ctrueden commented on #191
Thanks @nocnokneo. Please ping back here with a link to the reported issue, so that we can close this out while leaving a trail for anyone interested to follow.

[2018-05-25 15:05] ctrueden commented on #191
@nocnokneo I saw your [message to ome-users](http://lists.openmicroscopy.org.uk/pipermail/ome-users/2018-May/007055.html). Thanks for following up, and for your patience.

[2018-05-25 15:05] #191 closed

[2018-05-26 05:15] ctrueden opened #192 "Resolve obsolete files"
The following files are obsolete, but removing them from the Java-8 update site would not be sufficient, since they are also present on the ImageJ or Fiji core update sites:

* jars/fiji-compat
* jars/mapdb
* jars/bio-formats/jai_imageio (I think...)

Best solution is probably to finish the migration to Java 8 (see imagej/imagej#135), restoring the ImageJ and Fiji update sites to their original in

[2018-05-26 18:47] ctrueden commented on #189
Agreed! That would be the perfect place for them.

I think best would be to create an instance of the ImageJ gateway (`net.imagej.ImageJ` object) in MATLAB, so you can write e.g. `ij.ui().show(myMatrix)` and it will automagically do the conversion and display.

Sorry I don't have time to work on this right now. To be honest, MATLAB will probably never be a big priority for us due to the facts that

[2018-05-28 21:30] hsyon opened #193 "Multicore for Save as ZIP"
Hello,
Thank you all for your contributions to FIJI.
The "Save as ZIP" is very useful to reduce the file size.
However, this process doesn't seem to utilize all the cores in the processor, and I'm wondering if this could speed up saving to ZIP.
Thank you!
![multicore](https://user-images.githubusercontent.com/36607862/40629974-f1233902-628b-11e8-923f-46319a56ef9a.png)

[2018-05-29 07:58] imagejan commented on #193
The *Save As > ZIP...* command is a feature of ImageJ 1.x ([`imagej/imagej1`](https://github.com/imagej/imagej1)), as it is implemented in the `FileSaver` class:

https://github.com/imagej/imagej1/blob/72849f7e54cee5cfba9526b402118576d88385f0/ij/io/FileSaver.java#L285-L328

Feature request like this are best addressed to @rasband directly.

[2018-05-30 16:28] histed opened #194 "With ROI defined, no good way to advance one frame in stack"
With no ROIs defined, the left and right arrows step forward/back one frame in the stack, *without* changing the current display range.

(The < and > keys do the same, but they auto-recalculate the current display range, often not what is wanted when a stack was taken with its intensity range intended to be fixed, as in multi-timepoint imaging.)

With an ROI defined, the left and right arrows move

[2018-05-30 19:01] chillywings opened #195 ".czi import no longer working"
I frequently import .czi files generated by ZenBlue v2.3, and I had no trouble until recently when I updated fiji. The old version- ImageJ 1.51u- still works fine, but ImageJ 1.52b just opens up the bio-formats import options then does nothing when I click 'OK'.

Any help with this would be appreciated.

[2018-05-30 21:03] imagejan commented on #194
You should be able to use the arrow key while holding <kbd>Shift</kbd> pressed, no? In any case, this is not Fiji-specific, but rather an [`imagej1`](https://github.com/imagej/imagej1) issue, if at all.

[2018-05-31 11:57] ctrueden commented on #195
@chillywings Can you post a non-working file somewhere? Note that this is likely to be a Bio-Formats issue rather than a Fiji issue.
CC @sbesson @dgault

[2018-06-03 21:35] histed commented on #194
Thanks for looking at this.
On Mac, Shift-arrow keys still rescale the display intensity range.
I don't know who would be responsible for this, but we'd love to have a solution and I'd be happy to pass along this report to whoever you think is best; let me know whom.
thanks!

[2018-06-04 07:00] imagejan commented on #194
@rasband any comments?

[2018-06-04 16:00] rasband commented on #194
The latest ImageJ daily build (1.52d15) removes the "feature" that caused the display range to be changed when using keyboard shortcuts to step through a stack.

View the source code changes at
[https://github.com/imagej/imagej1/commit/d303eefea592f105de0c55fc0e3c54cc87da6862](url)

[2018-06-04 16:00] #194 closed

[2018-06-11 22:53] alexn11 opened #197 "3D Viewer crash dump"
Using Fiji ImageJ 1.52c for Linux 64bits, Java version 1.8.0_172 (64 bits).

3D Viewer crashes at start up. From the FAQ of 3D Viewer "The 3D Viewer simply crashes".

Crash dump:
[hs_err_pid16309.log](https://github.com/fiji/fiji/files/2091995/hs_err_pid16309.log)

Message on the console:
[code]

[2018-06-14 13:30] timeanddoctor opened #198 "can I change the gray level image to color image."
can I change the gray level image to color image.
![20180614205742](https://user-images.githubusercontent.com/28825816/41415006-19536050-701a-11e8-90b1-0d6aef74141b.jpg)

[2018-06-14 14:28] imagejan commented on #198
Sure, you can use false-color lookup tables (LUTs), see the *Image > Lookup Tables* menu.

For questions like this, please use the [ImageJ forum](http://forum.imagej.net/), instead of opening a Github issue.

[2018-06-16 14:54] hsyon commented on #193
Hello,

After a quick search on the internet, found "pigz."

On MacOS, straightforward to compile.

--> multicore zip compression

test case
5.84 GB TIFF file
pigz -7 --zip --keep testfile.tif
--> 818 MB compressed file in a few minutes
ImageJ ZIP compression takes at least 10 minutes, etc and file size is 828.8 MB

with --fast option, compresses in seconds, but file size is somewhat larger.

The

[2018-06-16 14:54] #193 closed

[2018-06-19 21:03] #198 closed

[2018-06-30 21:40] dtstone opened #199 "Bug when Editing and Saving TIFF Image Stack"
After making edits to some images in a TIFF image stack and then re-saving the stack with the same name multiple times, some of the images in the stack are replaced by copies of earlier images in the stack.

For example, I had a stack of 212 images (total size: 626 MB, 8-bit images) and after editing and saving multiple times, I saw that image 42 had been replaced with a copy of image 41. I checke

[2018-07-02 07:57] imagejan commented on #199
What were the exact steps you took to save the images? Did you manually save the stack using *File > Save As...*, or by running some macro or script?

It would be helpful to have a minimal example script that reproduces the issue, in order to find its cause.

[2018-07-02 08:41] imagejan commented on #188
The axes should be using the [`net.imagej.axis.AxisType` interface](http://javadoc.scijava.org/ImageJ/index.html?net/imagej/axis/AxisType.html) now.

https://github.com/fiji/fiji/blob/c73992fa96c6be425c2a8f0f3858a3d5651336a3/scripts/copytoImgPlus.m#L53-L58

And these should accordingly be `net.imagej.axis.Axes.X` etc.

[2018-07-02 14:20] kouichi-c-nakamura commented on #188
PR created
https://github.com/fiji/fiji/pull/200

[2018-07-02 15:18] dtstone commented on #199
I used the "File/Save" function, not Save As or a different script. The steps I took were essentially the following:

Step 1. Open tiff image stack in FIJI
Step 2. Edit the images in the stack using the Paintbrush or Fill tools.
Step 3. Save the entire image stack as same name using "File/Save". It asked if I wanted to overwrite the previous data, and I hit Confirm.
Step 4. Repeat steps 2 and 3, u

[2018-07-02 17:08] ctrueden commented on #199
@dtstone There are a lot of ways to open/import images into ImageJ, and a lot of ways to save/export them. The behavior also depends on which flavor of TIFF stack is (e.g. for microscopy data, which microscope vendor wrote the original TIFF file), as well as how large the TIFF stack is.

One important detail to look for is: is the TIFF file opened fully into memory? Or it is a virtual stack—i.e. p

[2018-07-02 17:32] #188 closed

[2018-07-02 20:38] ctrueden commented on #197
@alexn11 Thank you for the report, and sorry for the delay in reply.

The current situation with 3D Viewer is unfortunately rather intractable. See https://imagej.net/Java_3D. In the long term, we are developing a replacement plugin called [SciView](https://imagej.net/SciView) to address the technical problems of Java 3D and the 3D Viewer. In the immediate term, you could try using the Java 6 vers

[2018-07-02 20:38] #197 closed

[2018-07-05 20:59] dtstone commented on #199
So I split my large 212 image stack into smaller 20 image stacks. I opened each by dragging the file icon onto the FIJI menu bar, and I believe the entire TIFF file is opened in memory since I don't see a "v" in the title bar.

I edited and saved several of the image stacks without issue. However, the glitch occurred again while I was editing the latest 20 image stack. Interestingly, the glitch oc

[2018-07-10 15:53] ghost opened #202 "Adiposoft Manual Image Measurement"
I have been using the adiposoft plugin in Fiji with the manual option so that I may add/delete objects. However, the output excel file created contains only the baseline data measured when the image is opened and not the updated information following additions/deletions.
ie. open image with adiposoft plugin, select manual settings, objects in imaged are traced, excel file created, select add, OK,

[2018-07-10 16:04] racox commented on #202
Please disregard my message. It looks like the final files were deposited in the Fiji application for some reason, instead of the designated folder.

[2018-07-25 16:06] dtstone commented on #199
SOLVED. I figured out what causes the glitch AND I can effectively reproduce the glitch with different TIFF image stacks.

The cause is the Edit/Undo function, specifically when using it to undo changes to an image (Image A) while viewing another image (Image B).

The steps to cause the glitch are the following:
1. make edits/changes to Image A (can be any image in the stack).
2. move to view Imag

[2018-07-30 23:39] NickCondon opened #203 "getDateAndTime() month returning wrong?"
Current Date is 2018/07/31 yet FIJI is returning 2018/6/31??

See output from the following code:
[code]

Date: 31/6/2018

[2018-08-01 15:51] ctrueden commented on #203
Thanks for cross-linking, @stelfrich!

[2018-08-01 15:51] #203 closed

[2018-08-14 14:54] Tmanb123 opened #205 "Saving Tiff Image Does not Retain Windowing Information"
Problem: Saving windowed TIFFs does not retain window information in the saved file.

After the windowing all the TIFFs for my samples and their respective controls, I saved my files using the save feature and replacing my past files under that name. After saving them, I reopened them to begin exporting into jpg format and realized my windowing information was gone for the TIFFs. I repeated window

[2018-08-29 21:04] hyungsongnam opened #206 "Alt key changes focus on Windows10?"
Hello,

So I found a strange behavior of Fiji in Windows 10, and am wondering if anybody knows how to fix it. I couldn't find anything through google searches on this one.

I open an image, and I use the hand tool with scroll, Shift - scroll, and Alt - scroll to look through different channels of the image at different zoom, and so on. This is excellent.

On Linux, I can do this smoothly without c

[2018-08-30 07:02] imagejan commented on #206
The <kbd>Alt</kbd> in Windows generally activates the menu (try it in your browser, for example). Image windows in ImageJ don't have their own menu, but <kbd>Alt</kbd><kbd>Space</kbd> shows that the key acts the same as on other windows.

To work around this, you can simply press <kbd>Alt</kbd> once again, and you should get back the mouse cursor corresponding to your selected tool.

I don't know

[2018-08-30 10:13] hyungsongnam commented on #206
Thank you.

[2018-08-30 10:13] #206 closed

[2018-09-13 07:17] hyungsongnam commented on #206
Found a solution
For Windows 10
Autohotkey script

LAlt up::
If (A_PriorKey = "LAlt") ;  If LAlt was pressed alone
    return ; do nothing
return

; In this case its necessary to define a custom combination by using "LAlt &" or "<!"
; to avoid that LAlt loses its original function as a modifier key:

<!F4:: Send {Alt Down}{F4}{Alt Up} ; <! means LAlt

[2018-09-13 07:19] hyungsongnam commented on #206
Found a solution for Windows 10
Autohotkey script

LAlt up::
If (A_PriorKey = "LAlt") ;  If LAlt was pressed alone
    return ; do nothing
return

; In this case its necessary to define a custom combination by using "LAlt &" or "<!"
; to avoid that LAlt loses its original function as a modifier key:

<!F4:: Send {Alt Down}{F4}{Alt Up} ; <! means LAlt

Thanks.
HN

[2018-09-13 08:40] imagejan commented on #193
In case someone stumbles upon this in the future, here's some interesting read about how to make saving to zip files faster with pure Java, using multi-threading: http://www.pixeldonor.com/2013/oct/12/concurrent-zip-compression-java-nio/

[2018-09-19 08:02] Excludos opened #207 ""Illegal use of nonvirtual function call" in --headless mode"
Could be similar to a bug from 2014: http://fiji.sc/bug/732.html

Attempting to run a macro command such as

[code]

with `-macro --headless --console` gives off the error:

[code]

repost of https://forum.image.sc/t/unable-to-run-any-commands-in-headless-mode-and-console-app-not-exiting/19777 as this is probably a better place for bug reporting.

[2018-09-19 08:50] Excludos commented on #207
Issue has been solved in version using Java8. I had in the moment forgotten that I downloaded an older version due to Bio-formats in the new one not functioning properly. Ended up with a mix mash of new version of Fiji with old bio formats plugin and it is now working properly.

[2018-09-19 08:50] #207 closed

[2018-10-20 21:14] acardona opened #208 ""Report a bug" is still broken"
It's been perhaps a year, perhaps more. Whoever broke it, was there any good reason for doing so?

At the very least, the "Report a bug" should direct to here: the issues page of the ImageJ repository.

At the moment, "Report a bug" shows a dialog asking the reader to go to http://imagej.net/Help , a page where it is suggested, in the troubleshooting link, to use the "Report a bug". This would be

[2018-10-21 15:35] acardona commented on #208
These are very specific design choices you are making on your own. I disagree, but I lack the personnel and time to address them myself. So they'll stand as you want them. In my view, you may not have been close enough to the end users who would be reporting issues, and who wouldn't understand the language and concepts necessary to know what version control is or what git or github are, and why fi

[2018-10-21 16:07] #202 closed

[2018-12-07 22:13] whackashoe opened #209 "Bad GUI init causes top menu to not work in specific case, using awesome wm"
Steps to reproduce:

* Have two monitors (in my case 2 1080 monitors)
* Have secondary monitor in a tiled mode
* Start Fiji on primary monitor (fiji will open on primary, then will move itself to secondary monitor)

There is a small ~1 pixel area I can click in the top left when this is taking up a monitor but not fullscreen. If there is another window open I cannot click on the menu at all. Howev

[2018-12-11 16:20] ctrueden commented on #167
Another topic discussing this and related issues is [here](https://forum.image.sc/t/would-it-be-better-to-list-plugins-by-feature-ontology/5124). I agree about the search bar making it easier to find things. But of course that is no excuse not to make the menus also nice to browse. :-)

[2018-12-12 19:01] bjarthur opened #210 "certain tiff stacks treated as 2D tiff"
[tiffs.zip](https://github.com/fiji/fiji/files/2673152/tiffs.zip) contains three tif files.  each is a 48x48x48 16-bit grayscale stack.  all pixels are 0x0000 *except* index [0,0,0], which takes the value indicated by the filename (0x0000, 0x00ff, or 0xffff).  all look fine in OS X Preview.  Fiji treats 0x0000-good.tif and 0xffff-good.tif as stacks with 48 pages, but treats 0x00ff-bad.tif as a 2D

[2018-12-14 06:33] stelfrich opened #211 "NoSuchMethodError on Java 10+"
[code]

[2019-01-07 14:52] turekg commented on #211
What OS please?

[2019-01-08 12:48] stelfrich commented on #211
Thanks for reporting @turekg. There are issues of [`imagej-launcher`](https://github.com/imagej/imagej-launcher) for both of those (don't have the numbers at hand at the moment). The first one has already been fixed in the latest `SNAPSHOT` version. The second one will be a bit more tricky..

[2019-01-08 16:08] ctrueden commented on #211
This issue was already fixed with 8f2736a5f8c85d0d572a0203d80d86c7e3f14589.

@stelfrich Maybe the issue is that `fiji-compat` is also still present in the `jars` folder? If so, this issue will be fully resolved by the switch to the new v2 Updater. Unfortunately, I think we cannot mark fiji-compat obsolete as long as the Java-8 update site continues to be in production.

[2019-01-26 00:26] awezmm opened #213 "FIJI Despeckle source code"
I cant seem to be find the java source code for the despeckle function. Where could I find it?

[2019-01-26 19:51] imagejan commented on #213
Use the search bar (type <kbd>L</kbd>), search for "Despeckle", and press the <kbd>Source</kbd> button:

https://github.com/imagej/ImageJA/blob/173a8a337302362e954257aeb4214bbe4cd93c4b/src/main/java/ij/plugin/filter/RankFilters.java

In general, questions like this are much better asked on the forum (http://forum.image.sc), as this is not an issue report.

[2019-01-26 19:51] #213 closed

[2019-01-30 11:56] sisimidi opened #214 "Saving images cropped from 1 master image"
Hello,

I have an image of a colony of cells and I would like to crop out individual nuclei
This is the macro that i'm currently using

run("Duplicate...", "duplicate channels=1-2"); #because the original image has 3 channels
makeRectangle(0, 0, 100, 100);
waitForUser;   # select the nucleus
run("Crop");
saveloc = getDirectory("Choose the directory for saving");
title = getTitle;
saveAs("tiff", sa

[2019-02-18 07:58] bjtho08 opened #216 "BigWarp buggy"
The current version of BigWarp in repository (bigwarp_fiji-2.1.0) does not work correctly in the latest version of Fiji due to some change in how Fiji handles keypresses. It has been fixed in BigWarp 3.1.1 and onwards by changing how landmark mode is activated (instead of using space as a modifier, it is now a switch).

[2019-02-18 10:39] imagejan commented on #216
An up-to-date Fiji installation should contain `bigwarp_fiji-3.1.2.jar` (shipped from the Java-8 update site).
I am unsure how you get version 2.1.0, do you have any other update sites activated?

[2019-02-18 13:42] bjtho08 commented on #216
I have the following update sites activated:

- ImageJ
- Fiji
- Java-8
- 3D ImageJ Suite
- BAR
- BaSiC
- BigStitcher
- HDF5
But I'm guessing none of them should overwrite the latest version?

[2019-02-18 14:53] imagejan commented on #216
Are you sure you're actually running with Java 8? It seems 2.1.0 is the latest version shipped on the Fiji update site, but it would/should be overridden by an active Java-8 site.

Please check in the advanced mode of the updater to see where your `bigwarp_fiji` comes from.

[2019-02-19 08:26] bjtho08 commented on #216
I just checked and it appears that Java-8 is now correctly keeping bigwarp_fiji.jar up-to-date. Maybe I was just experiencing a random mistake. Previously, I had to download the newest jar-file manually and delete the 2.1.0 from my plugins-folder.

[2019-02-21 12:08] agclark12 opened #217 "fiji freezing when opening existing macros"
I'm having a problem where fiji completely freezes whenever I open an existing macro. As soon as the macro loads in the script editor, the editor window and all of fiji freezes and I have to force quit. This happens whether I open the macro by dragging or if I open via the menu. This started with a current update, and I've tried completely reinstalling my fiji and still have the same problem. Runn

[2019-02-21 16:13] ctrueden commented on #217
@agclark12 Thanks for the report. Can you please try troubleshooting according to these directions?

https://imagej.net/Troubleshooting#If_ImageJ_freezes_or_hangs

[2019-02-21 17:22] agclark12 commented on #217
@ctrueden yes, sorry for not including it before. actually, while getting the stack dump, i realized that if I wait about a minute and half, the console shows me an exception and then I can use the editor again. here's the stack dump:

<pre>
"AWT-EventQueue-0" prio=6 id=22 group=main
   java.lang.Thread.State: WAITING
	at sun.misc.Unsafe.park(Native Method)
	at java.util.concurrent.locks.LockSuppo

[2019-02-21 18:20] ctrueden commented on #217
Aha, thanks @agclark12, very informative!

@haesleinhuepf It looks like an issue with the new macro autocompletion. Perhaps we should load the macro functions in the background rather than doing it lazily on demand? And maybe set a shorter timeout?

@agclark12 Are you behind some sort of firewall limiting outgoing traffic?

[2019-02-21 18:26] haesleinhuepf commented on #217
Hey @ctrueden ,

thanks for the headsup! Actually, I was thinking of this server-connection already for some time. My internet at home is super slow and I always have to wait some seconds for this website to respond; whenever I open a macro...

Shall we remove the HTTP-request? The macro-auto-completion works nicely with the local copy...

Cheers,
Robert

[2019-02-21 18:30] ctrueden commented on #217
@haesleinhuepf Yes, I think local-only is fine. We just have to remember to update the local copy with any snazzy new functions after they are added. I suppose we can rely on users for that, complaining about this-or-that function not being tab completed. 😉

[2019-02-21 18:31] haesleinhuepf commented on #217
Alright, I'll prepare a PR tonight.

[2019-02-21 19:48] agclark12 commented on #217
@ctrueden yes, I was behind a firewall/proxy at work (though proxy settings in fiji are ok, since I can still update fiji from work). When i open an existing macro from home (i.e. no firewall), the script editor opens normally.

By the way, thanks for adding the macro autocompletion recently! It's super convenient. Any chance you guys would consider adding autocompletion for variables previously d

[2019-02-21 19:57] haesleinhuepf commented on #217
Hey @agclark12, that's an idea circulating in my head for some time. It's not super-easy to do, but it might come at some point... ;-)

[2019-02-21 20:06] agclark12 commented on #217
Well, looking forward to it if it does come! Thanks again for helping address this issue quickly!

[2019-02-21 20:06] #217 closed

[2019-02-22 17:39] ctrueden commented on #186
Addressed with 3eca5f66d1c0169c95e6f4c510e41b43ebf44df2.

[2019-02-22 17:39] #186 closed

[2019-02-22 17:44] ctrueden opened #218 "Fiji over VNC has no visible text in some scenarios"
From an [ImageJ mailing list thread](https://list.nih.gov/cgi-bin/wa.exe?A2=IMAGEJ;ced770be.1902):

I was unable to replicate this problem using Ubuntu 18.04 with `tightvncserver` plus macOS's built-in VNC viewer (accessed via a function: `vncviewer () { open vnc://$@ ; }`).

It would be helpful for anyone affected by this issue to experiment with different VNC server and client software and confi

[2019-03-08 15:02] ctrueden commented on #218
From David Pirotte via email:

[2019-03-08 15:03] ctrueden commented on #218
I'm closing this issue, since it seems to be a more general problem with Java over VNC in some scenarios. But if anyone learns more about why this happens, and/or discovers a workaround or fix we can do on the Fiji/ImageJ side, please reopen as needed with that information!

[2019-03-08 15:03] #218 closed

[2019-03-09 22:59] bjtho08 commented on #216
I will just go ahead and assume that it was a bug that has since been fixed.

[2019-03-09 22:59] #216 closed

[2019-03-14 16:19] Dr-Frog opened #219 "ImageProcessor.fillOutside modifies Roi given as parameter"
When the parameter to ImageProcessor is an Instance ShapeRoi, it will be modified within the function. To my understanding this happens in the line

setRoi(s1.xor(s2));

as Roi.xor() modifies its caller.
Proposed solution is to change the line into

setRoi(s2.xor(s1));

[2019-03-14 16:31] imagejan commented on #219
This is an `imagej/imagej1` issue, as the line you're talking about is here:

https://github.com/imagej/imagej1/blob/5d4538b93bfa127a3e28c48fc6ef68d5eb4933ea/ij/process/ImageProcessor.java#L1638

@rasband any comments?

[2019-03-16 01:34] rasband commented on #219
The proposed fix is in the latest ImageJ daily build (1.52m44).

[2019-03-16 01:34] #219 closed

[2019-03-21 20:45] TomkoLA opened #220 "Linux Problem Maximizing Image Window"
System info:
Kernel: 4.19.0-1-amd64 x86_64 bits: 64 compiler: gcc v: 6.3.0
           Desktop: Xfce 4.12.3 Distro: MX-18.1_x64 Continuum Feb 9  2019
           base: Debian GNU/Linux 9 (stretch)
FIJI: 1.52i and ImageJ: 1.52a with a Java8 runtime

Regardless of what file type I open (I have tried .avi and .tif recently), the image window will open at 50% size. However, when I want to increase the i

[2019-03-21 21:29] imagejan commented on #220
What you describe has always been the behavior of ImageJ (and Fiji Is Just ImageJ). You can use <kbd>+</kbd> to change the size of the image.

I'm closing this since it's not a `fiji/fiji` issue. Feel free to suggest changes on `imagej/imagej1` to @rasband directly, or open a discussion [on the forum](https://forum.image.sc/tags/imagej).

[2019-03-21 21:29] #220 closed

[2019-03-25 19:05] ctrueden opened #221 "Address EFL / GPL licensing incompatibilities"
Fiji currently ships some libraries that are licensed under the Eclipse Public License (EPL). This license is [incompatible with the GPL](https://en.wikipedia.org/wiki/Eclipse_Public_License#Compatibility), meaning they cannot be included in a combined work licensed under the GPL.

[Clojure](https://clojure.org/) is a known culprit, but there may be others. To fully address this issue, we should d

[2019-03-26 14:39] bio-nell opened #222 "Brightness/contrast and other adjust boxes not opening properly"

[2019-03-26 14:48] imagejan commented on #222
Can you please provide more detail? Otherwise it's hard to reproduce the issue.

Are you using a multi-screen setup? Which version of Fiji/ImageJ are you using? Which operating system, etc. etc.

Maybe you can post a screenshot illustrating the issue?

[2019-03-26 14:53] imagejan commented on #222
I just noticed you posted [*the same issue* on the forum](https://forum.image.sc/t/brightness-contrast-box-not-opening-properly/24197?u=imagejan). Please, when cross-posting, provide links to the respective other posts, so that people willing to help don't waste their time because they don't know others have replied already.

[2019-03-26 15:00] bio-nell commented on #222
Hi, sorry for any confusion. This is my first time navigating these sites and I'm not sure how to provide links. Thank you for connecting them. I am on a second screen (monitor from a laptop) and haven't had this issue before. It persists on the laptop alone as well.
Operating system: Windows 10, version 1809
ImageJ version: 1.52n
Java version: 1.8.0_172 (64-bit)
I have also attached a screenshot

[2019-03-26 15:02] bio-nell commented on #222
Just for clarification, the grey box in the lower left hand corner I added to the screenshot for privacy.

[2019-03-26 15:20] bio-nell commented on #222
After some troubleshooting I was able to fix this issue by right clicking the brightness/contrast window in the task bar. Selecting "move" and using arrow keys and then clicking the mouse. (just dragging with the mouse didn't work). Thank you and I will post this in the other forum as well.

[2019-03-26 15:20] #222 closed

[2019-05-03 23:06] frauzufall opened #223 "Create reproducible release versions and archive them"
As discussed [in the forum](https://forum.image.sc/t/fiji-imagej-release-versions/24700), it would be great to have more regular Life-Line Fiji versions / reproducible releases and also archive Fiji each time a new version is uploaded to the [download page](https://imagej.net/Downloads).

Open tasks copied from the forum:

- [ ] Core ImageJ and Fiji update sites fully driven by releases of net.ima

[2019-05-13 05:05] jrminter opened #224 "cannot open jython scripts with .py extension"
In the last few days there has been a change in the behavior of the Fiji Script editor in Legacy mode. When one goes to open a script with the .py extension - even with the language set to Python, I get the error that "File name must end with .java, .txt, or .js. A workaround is to open with a .txt extension and set the language. The when saving the script, the editor by default uses a .py extensi

[2019-05-13 10:41] imagejan commented on #224
Sorry, I cannot reproduce the issue (on Windows 7). For me, `.py` script files open just fine in the script editor, whether I drag them onto the Fiji toolbar or open them via the new file tree panel in the script editor.

[2019-05-13 12:53] jrminter commented on #224
Jan, thank you for trying to reproduce this. I should have noted that this is on MacOS Mojave both with an updated Fiji 64 bit distribution and after cleaning everything I could find in the Libray folder and doing a clean install of the latest (as of 2019-10-12) installer from the update site. I tried it both as the clean install of the base distribution and after installing all of my favorite upd

[2019-05-13 13:35] imagejan commented on #224
How do you open the `.py` exactly?

[2019-05-13 14:37] jrminter commented on #224
I have been opening from the main menu with Plugins > Macros > Edit. Is there a better way?

[2019-05-13 14:43] imagejan commented on #224
*Plugins > Macros > Edit* is a command from ImageJ 1.x (i.e. not Fiji-specific), and ImageJ1 never supported Python/Jython, to my knowledge. Has this really worked in the past?

I'd recommend to use *File > New > Script* to open the script editor, or simply dragging script files onto the toolbar to open them.

[2019-05-13 15:09] jrminter commented on #224
Thank you again. The Fiji/IJ community is especially helpful.

Jython scripting has been working for me since 2014. There were tutorials by Albert Cardona and others that were really helpful. I have function libraries (under version control) that live in a "Lib" directory in Fiji.App/jars. If you are interested,  you can see the main one on [github](https://github.com/jrminter/OSImageAnalysis/tree

[2019-05-13 15:16] imagejan commented on #224
Sorry, you're of course right that also ImageJ1 supports Python. Nevertheless, you were likely using the Python support brought in by Fiji/ImageJ2/SciJava when you were using the script editor.

The fact that calling *Plugins > Macros > Edit* now shows an error is likely an issue in [`imagej/imagej1`](https://github.com/imagej/imagej1) or [`imagej/imagej-legacy`](https://github.com/imagej/imagej-l

[2019-05-13 16:27] ctrueden commented on #224
@jrminter Sorry the situation are so confusing. But the fact is that ImageJ 1.x has its own piecemeal support for a couple of script languages, whereas ImageJ2 (and therefore Fiji) uses a unified SciJava scripting framework for all its languages. Some menu commands use the IJ1 infrastructure, while others use the IJ2 infrastructure. ImageJ2's ImageJ Legacy component—responsible for integrating IJ1

[2019-05-13 18:05] jrminter commented on #224
I appreciate the explanations by both Jan and Curtis. I understand how Fiji is evolving and that is a good thing. I'd be happy with a list of hints to avoid the known pitfalls. I am willing to test some...

I have a lot of legacy code that has served me well for many years. One of the reasons I like the Legacy interface is the comparatively painless path of macro-recorder to .ijm script to (in my

[2019-05-16 18:06] chacha21 opened #225 "Opening multi-page TIFF RGB (3x16b)"
I can generate multi-page TIFF with GDAL 3.0.0, each subdataset/page being RGB as 3x16bits. Windows Explorer is OK with such files, but ImageJ, even if it scans the pages properly at opening (it finds the correct count), raises an exception about unsupported stack.
Is it expected behaviour ?

With RGB as 3x8bits, there are no problems.

[2019-05-16 18:50] ctrueden commented on #225
@chacha21 Please read https://imagej.net/TIFF to understand the status quo with TIFF in ImageJ. Unfortunately, there are multiple implementations of TIFF support.

Your best bet is probably to try _File › Import › Bio-Formats..._ and see if that addresses your issue. Another possibility is _Edit › Options > ImageJ2..._ and check the "Use SCIFIO" option, which will change how TIFF behaves by defaul

[2019-05-16 19:21] chacha21 commented on #225
I did not think about those imports.
I will try it and if it does not work, I will post both an example and a minimal source code to generate.

[2019-05-17 07:41] chacha21 commented on #225
Both solutions (Bio formats and SCIFIO options) work. Proble solved.
:thumbsup:

[2019-05-17 07:41] #225 closed

[2019-05-17 20:31] ctrueden opened #226 "Fiji deadlock on startup"
On 2018-09-05, with a Fiji with a variety of update sites enabled, and running with Java 10, the app started but then deadlocked.

<details><summary>Stack traces</summary>

[code]

</details>

[2019-06-25 07:37] MGarvinNYC opened #227 "Multiple problems with process->batch->convert"
Running Fiji under Windows.  Images are .C01 format, visible with Fiji's built-in BioFormats plugin.
Encountered the following problems:

1:  Batch conversion to JPG, BMP, Gif, all create visible files, but they are all duplicates of the first file found in the folder.  In other words, files:  X.C01, Y.C01, and Z.C01  would be converted to corresponding file names: X.JPG, Y.JPG, Z.JPG, but they ar

[2019-06-28 09:27] pettaa123 commented on #211
Hi, I installed recent 64 eclipse and 64 JDK 12.0.1 on my Windows 10 64 machine. I cloned recent fiji master and did the import via maven. I get the following errors:

`Description	Resource	Path	Location	Type
The method getPeer() is undefined for the type MenuBar	IJ_Alt_Key_Listener.java	/fiji/src/main/java/sc/fiji/compat	line 97	Java Problem`

`Description	Resource	Path	Location	Type
The method g

[2019-06-28 11:50] pettaa123 opened #228 "Howto readout imagestitching variables"
Hi, I would like to debug the image Grid Image stitching that is coming with fiji. Iam not a Java developer. I have installed Eclipse and managed to load fiji source code via maven into elipse. How do I add now the imagestitching correctly and start it then?

thanks :)

[2019-06-28 21:27] pettaa123 commented on #228
Hey, I start imagej out of the stitiching source from src/test/java/Main.java -> Debug As ->Java Application.
The "Grid/Collection stitching" menu appears. But the set breakpoints dont work. No matter where I set them in the sourcecode.

[2019-06-29 08:51] ctrueden commented on #228
@pettaa123 There is more than one way to do it, but here is what I typically do:

1. Import fiji/fiji into Eclipse.
2. Import fiji/Stitching into Eclipse.
3. Edit the `pom.xml` of fiji/fiji, adding the line `<Stitching.version>3.1.7-SNAPSHOT</Stitching.version>` beneath the `<properties>` section (around line 177 as of this writing). This version should match the version in the fiji/Stitching proj

[2019-06-29 09:08] ctrueden commented on #228
@pettaa123 Also, just to clarify: launching the Stitching project's `Main` in debug mode should also work. I am not sure why that isn't working, but you can try the process I outlined above and see whether that makes any difference. Running the Stitching plugin's `Main` will launch an ImageJ with Stitching available, but not all the Fiji plugins, whereas the process I outlined is closer to running

[2019-06-29 12:36] pettaa123 commented on #228
Thank you. It turned out that I my java jdk didnt contained the java source .zip

[2019-06-29 18:46] #228 closed

[2019-07-02 14:38] StephanPreibisch commented on #228
Great, thanks a lot @ctrueden !

[2019-07-04 11:30] grahampugh opened #229 "Fiji application version not present in `Contents/Info.plist`"
macOS applications should have version information present in the file `Contents/Info.plist`. This is normally achieved with the values of the `CFBundleVersion` and `CFBundleShortVersionString` keys.

With Fiji, these values are not used. We do have an incorrect value for `CFBundleVersion`:

[code]

These values are essential for the detection of versions of applications by managed application dep

[2019-08-16 17:34] acardona opened #231 "JFreeSVG jar file missing from the jars folder"
It's available here, as source jar and compiled jar: https://repo1.maven.org/maven2/org/jfree/jfreesvg/3.3/

This jar is necessary for ```org.jfree.chart.util.ExportUtils.writeAsSVG``` to work.

Having this jar completes the JFreeChart library in a way that enables creating analytical charts from within Fiji trivially, storing them as SVG for both compactability and also editability.

[2019-08-22 17:44] ctrueden commented on #205
@Tmanb123 Thanks for the report, and sorry this one fell through the cracks for so long.

I'm sorry to say I do not understand what you mean by "windowed TIFFs." Can you enumerate the exact commands you used in Fiji? Maybe show a screenshot or two if it's useful?

You might also try posting your question on [forum.image.sc](https://forum.image.sc/tags/fiji), since this seems like more of a usage q

[2019-08-27 14:21] Yishaiaz opened #232 "macOS Catalina incompatibility"
Hi there, I'm using macOS Catalina 10.15 beta.
from what I understood dealing with other applications, apple changed the way it verifies new applications, and now Fiji doesn't work.

can you please fix it? any help or resources I can help with?

thanks, and great software! thank you so much

[2019-08-27 20:36] bgansemer opened #233 "NoSuchMethodError with updater"
I've been receiving the following error when trying to run the updater (Help -> Update). Running version 1.52p on Windows 10 with Java 1.8.0_66.
[code]
Please let me know if you need any other information.

Thanks,
Ben

[2019-08-29 03:01] ctrueden commented on #231
I added JFreeSVG to the SciJava bill of materials: scijava/pom-scijava/commit/b9aebc24bc977f2fd20253ed5ffa8cfdaab07642

Certainly we can include the JFreeSVG library as part of Fiji. For other supporting libraries, though ,the approach has been that they become dependencies of Fiji transitively because some plugin depends on them. Do you have a particular plugin or script that will depend on JFree

[2019-08-29 16:17] acardona commented on #231
Thanks @ctrueden. Even for just one-off scripting would be great. The ability to save ```JFreeChart``` as an SVG is wonderful.

[2019-09-01 18:16] Yishaiaz commented on #232
sorry for the late response, it a bit different in Catalina, but it worked flawlessly.
thanks!

[2019-09-01 21:48] #232 closed

[2019-09-05 12:59] ctrueden opened #234 "Relocate MATLAB scripts"
There are some `.m` scripts directly in the `scripts` folder (see https://github.com/fiji/TrackMate/issues/63#issuecomment-212956570). These should be relocated somewhere else, because `scripts/Foo/Bar` is now for scripts appearing in the _Foo &#9654; Bar_ menu. Probably nothing should be directly in the `scripts` folder.

[2019-09-10 15:29] ctrueden commented on #233
@frauzufall Any ideas?

[2019-09-11 12:27] frauzufall commented on #233
Hi @bgansemer,

sorry for not seeing this issue earlier! Maybe you already found the [forum post](https://forum.image.sc/t/imagej-fiji-is-improving-security/28609/), here is how to fix this:
- download [imagej-ui-swing-0.23.1](https://maven.scijava.org/service/local/repositories/releases/content/net/imagej/imagej-ui-swing/0.23.1/imagej-ui-swing-0.23.1.jar) and replace `Fiji.app/jars/imagej-ui-swin

[2019-09-16 23:31] kevincroissant opened #235 "Fiji 64 bit Linux package on fiji.sc is actually OS X App"
Title says it all. This link:
https://downloads.imagej.net/fiji/latest/fiji-linux64.zip

as downloaded on September 16, 2019, extracts to the OS X "Fiji.app" folder. Let me know if you need any more info.

[2019-09-17 02:58] ctrueden commented on #235
The naming is misleading. All the platforms unpack to a folder called Fiji.app. Does the archive have an `ImageJ-linux64` launcher inside? If so, it is the Linux version.

I will leave this issue open as a reminder that we should (strongly) consider changing the naming such that the folder is only called `Fiji.app` on macOS.

[2019-09-18 12:08] jburel opened #236 "Upload to own site:password"
Password used to upload cannot contain any symbol.

[2019-09-18 12:09] jburel opened #237 "Upload to own site:url"
In order to be able to upload http had to be used instead of https

[2019-09-23 11:40] #233 closed

[2019-09-26 19:17] imagejan commented on #234
Only some of the scripts in the `scripts` folder are TrackMate-related. The others belong to the MATLAB interface (Miji) and are about to be migrated to `imagej-matlab`:

https://github.com/imagej/imagej-matlab/pull/19

We should decide however whether `script_templates` is the right place for those, or whether those script intended to be used _from_ Matlab (and not in the script editor) should li

[2019-09-27 12:27] ctrueden commented on #234
Maybe scripts intended for use from MATLAB should live in `matlab/`? Or even subfolders like `matlab/TrackMate` to group them nicely?

[2019-10-02 11:28] ctrueden commented on #211
A further related fix: fiji/fiji@15f288f4af6a929c7b16ec4373b68be01d8b64f4. Again, removing `jar/fiji-compat.jar` is also required to fully fix this.

@pettaa123 Sorry to ignore you for so long.

Right now, for all development, I would still encourage you to stay with Java 8, not Java 12. There may be issues with newer Javas which make your life more difficult, yes.

[2019-10-02 12:55] ctrueden commented on #226
@stelfrich and I worked on better Java 9+ support earlier this week. With the following combination of improvements, the above issue no longer occurs:

* 15f288f4af6a929c7b16ec4373b68be01d8b64f4
* scijava/script-editor@3899427ac930c534911284f7d3cf46d79371fed0
* imagej/ij1-patcher@c349cf96d6e79d41cf9d348a6bdca4c971fe7bf3
* imagej/imagej-launcher@1049eac6ec9931b1e98bcecc078865a5bca78afd

[2019-10-02 12:55] #226 closed

[2019-11-06 09:44] hubutui commented on #223
Any updates? I check https://downloads.imagej.net/fiji/archive/, and there are no files at all. It would be great it there is a release version for fiji. Currently, the latest release in https://github.com/fiji/fiji/releases is 2.0.0-pre-10 on 28 Dec 2018, but the latest binary from https://downloads.imagej.net/fiji/latest/ is updated on 11 Nov 2019. Are they the same version?

[2019-11-14 19:00] ctrueden commented on #223
@hubutui Thanks for pointing out that https://downloads.imagej.net/fiji/archive/ was empty.

TL;DR: Fixed now!

Given that fiji/fiji-builds#2 was merged, that folder should have started to accrue archived versions. I did some digging. The [Travis CI job](https://travis-ci.com/fiji/fiji-builds) _was_ squirreling away the versions into an `archive/` folder... just not _the_ `archive/` folder being s

[2019-12-18 00:50] bmangum opened #239 "Running a macro with Fiji installed on the server gives different results on different machines"
I have Fiji installed on a Windows server.
For years I have run a macro from a modified StartupMacros file on various machines without an issue.
The executable and all associated plugins are located on the server in a shared network drive.
Note, all files and directories are on the server, no local files are used.

Now on one machine, Analyze Particles fails, while on another machine it is still f

[2019-12-23 02:00] hubutui commented on #223
@ctrueden Hey, I check https://downloads.imagej.net/fiji/archive/20191220-2112/, and there is only zip files for Linux, no tarballs. Anything wrong?

[2019-12-26 15:37] ctrueden commented on #223
@hubutui Maybe because the [build that day](https://travis-ci.com/fiji/fiji-builds/builds/141974655) failed. And then nothing has changed since then?

[2020-02-12 14:23] ctrueden opened #240 "Update Fiji bundles to use JetBrains JBRSDK 8"
@skalarproduktraum wrote:

We need to ship Fiji with a Java 8 on all platforms that meets the following criteria:

* JDK, not only JRE
* OpenJDK, not Oracle JDK
* Includes JavaFX (OpenJFX)
* Ideally, has the surface scaling stuff mentioned above

The only JDK that meets all requirements is the JetBrains JBR SDK.
We just need to:

* Download the JBR SDK for all five supported platforms:
    * https

[2020-02-12 21:58] cooketho opened #241 "copy to system not copying all channels"
I'm having a problem when I try to use Edit->Copy to System where Fiji only copies some of the displayed channels but not others, or sometimes fails to copy the scale bar. I'm using MacOS Catalina 10.15.2 and the latest version of Fiji.

I've included an example file to reproduce the bug. I opened it with Fiji, and used the default Bio-Formats Import options. I then used shift+z to open the Channe

[2020-02-17 16:41] cooketho commented on #241
Just wanted to add that this error also affects saved images as well, so it seems it is not just a clipboard-specific thing.

Please let me know if there is a workaround, or if it is likely to be fixed soon. At the moment, the program seems to be unusable for me.

Thank you!

[2020-02-17 17:09] imagejan commented on #241
@cooketho I was able to reproduce this issue in an up-to-date Fiji on Windows 10 with the *Confocal Series* sample image.

I assume it's an ImageJ1 issue, as all the functionality affected is implemented in [`imagej/imagej1`](https://github.com/imagej/imagej1/).

/cc @rasband

[2020-02-18 03:22] rasband commented on #241
The Edit>Copy to System command should work better with composite images in the latest ImageJ daily build (1.52u14). To upgrade, use the Help>Update ImageJ command and select "daily build" from the drop down menu.

[2020-02-18 16:45] cooketho commented on #241
That works! Thank you!

[2020-02-18 16:45] #241 closed

[2020-02-20 12:42] sebi06 opened #242 "Problems when running particle analyzer in headless mode"
See the thread on image.sc for the issue:

[Problems when running particle analyzer in headless mode](https://forum.image.sc/t/problems-when-running-particle-analyzer-in-headless-mode/34091)

[2020-02-26 22:14] SandorAlbert opened #243 "Bug Report"
Not sure where to report this, but:

while I was trying to save a file (the save window being open) I deleted an image in the given path folder and ImageJ 1.52a hung up. I'm using Windows 10.

Best regards

[2020-02-28 11:04] guillaume-ferry opened #244 "Fiji chocolatey Package"
I'm actualy packaging Fiji for Chocolatey : https://www.chocolatey.org/

- [ ] Is it possible to provide Fiji archive by version, and not only the latest version? It woud be very helpfull to provide links like this :

https://downloads.imagej.net/fiji/fiji-52-win64.zip
or
https://downloads.imagej.net/fiji/1.52/fiji-win64.zip

- [ ] I would also like to have your opinion on the proper way to disabl

[2020-02-29 17:45] ctrueden commented on #244
@guillaume-ferry Awesome that you are doing Chocolatey packaging!

Did you see https://github.com/imagej/chocolatey-packages? Eventually we want to package ImageJ2 itself as well, although there are some changes needed first to the update site structure before we can fully achieve that cleanly. See also imagej/imagej#152.

In the meantime, I'd love for the Fiji Chocolatey package to also live on G

[2020-03-03 19:29] ctrueden commented on #243
@SandorAlbert Are you using Fiji? Or plain ImageJ1?

For troubleshooting hangs, please see this page:
  https://imagej.net/Troubleshooting#If_ImageJ_freezes_or_hangs

[2020-03-13 12:14] spreka opened #245 "Update site dependency shadowing Fiji dependency"
Greetings.
I populated an update site with my plugin including its dependencies (mostly third-party jars and some default Fiji/ImageJ and Java-8 jars).  My problem is that I cannot properly shadow a certain default jar, namely *guava* with the guava.jar from nd4j my plugin requires to run.

Here's what I did:
I populated my custom update site with all the dependencies, resolved conflicting version

[2020-03-13 17:52] ctrueden commented on #245
@spreka What is the URL for your update site? I'd like to inspect the JARs and `db.xml.gz` there.

[2020-03-13 18:22] spreka commented on #245
@ctrueden Thanks for responding so quickly.
The update site is: https://sites.imagej.net/Spreka/

[2020-03-13 19:24] ctrueden commented on #245
@spreka Thanks. I see `jars/guava-1.0.0-beta6.jar-20200312212004` on the update site, and looking in the `db.xml.gz` content, the ND4J version is definitely shadowing the core Guava library.

When you uploaded it from your local installation, how was it named on your local file system? `org.nd4j.guava-1.0.0-beta6.jar`? Or did you name it `guava-1.0.0-beta6.jar`?

* If you named it `guava-1.0.0-bet

[2020-03-13 20:13] spreka commented on #245
@ctrueden My local nd4j-originated guava jar was named `guava-1.0.0-beta6.jar`, I just copied the org.nd4j info from the pom. I will try renaming it to the full name in my local `/jars` folder.

[2020-03-14 20:38] ctrueden commented on #245
@spreka Thanks for the info. The exact name is not important, as long as it does not clash with the existing `guava`. You could name it e.g. `nd4j-guava-1.0.0-beta6.jar`. I think this will work; please report back letting us know either way.

[2020-03-16 08:07] spreka commented on #245
@ctrueden Thanks a lot for the support. I renamed it to `nd4j-guava-1.0.0-beta6.jar` as you suggested, unshadowed the previous version, updated this new to the update site and now Fiji starts without the google error while my plugins works as well.
Cheers!

[2020-03-16 14:05] #245 closed

[2020-03-16 14:05] ctrueden commented on #245
@spreka Glad to hear it is working!

[2020-04-07 20:57] jotadepicas opened #246 "Vagrant dev environment is broken"
Hi,
If you try to do a "vagrant up" you encounter two errors:

1. URL for precise64 box on hashicorp is not working. As per https://github.com/hashicorp/vagrant/issues/9897#issuecomment-395198639 a replacement URL could be https://vagrantcloud.com/hashicorp/boxes/precise64/versions/1.1.0/providers/virtualbox.box

2. openjdk-8-jdk package is not installable anymore via apt since Oracle made all tho

[2020-04-09 21:51] ctrueden commented on #246
Thanks @jotadepicas. I removed the outdated Vagrantfile. There is a Docker repo at https://github.com/fiji/dockerfiles, although it is also not really actively maintained right now.

[2020-04-09 21:51] #246 closed

[2020-05-02 14:27] acardona opened #247 "Jython 2.7.2 released"
Available here: https://www.jython.org/download

The major issue that motivates me to see the new jar distributed is the fixing of the bug related to loading classes in a multithreaded context.

How does one amend the pom.xml to include the new jython jar?

[2020-05-05 12:43] waterstream opened #249 "display ubuntu18.04"
my laptop screen is 3000*2000 resolution. Openning the imageJ，the scale of the interface is incorrect as follow.
![Selection_001(001)](https://user-images.githubusercontent.com/44574256/81067250-f885fa00-8f10-11ea-9742-7eb649c1a747.jpg)

[2020-05-11 12:32] imagejan commented on #247
This is already done in `scijava/scripting-jython`, see here:

https://github.com/scijava/scripting-jython/blob/c72f7d36fa133d3f9752d15edfa1c50d84b83595/pom.xml#L96-L111

[2020-05-11 12:32] #247 closed

[2020-05-11 15:36] acardona commented on #247
Brilliant, thank you!

[2020-05-21 22:51] acardona opened #250 "Frozen Fiji in Ubuntu 20.04 java 8u252"
As explained here https://forum.image.sc/t/broken-fiji-in-ubuntu-20-04-with-openjdk-8u252/38099

Fiji launches but its UI is unresponsive: the event dispatch thread is blocked, as shown in the jconsole.

To blame, perhaps the ```org.GNOME.Accessibility.AtkWrapper$6.dispatchEvent(AtkWrapper.java:705)``` line of the event dispatch thread stack trace.

Haven't tried yet with a different desktop envir

[2020-06-08 14:05] overag3 commented on #244
Any updates ?

[2020-06-08 17:37] axtimwalde commented on #250
Working with Fiji on Ubuntu 20.04 without problems, may be a local issue?

[2020-06-08 17:48] axtimwalde opened #251 "Fiji does not include licenses"
The artifacts shipped with Fiji typically do not include a LICENSE file in their Manifest and scripts often do not include license details.  Most of these artifacts and scripts stem from open source projects with licenses, some of which require reproduction of the license text in a binary distribution.  The ImageJ updater is such a binary distribution and we should therefore include the licenses o

[2020-06-08 18:19] axtimwalde commented on #250
@acardona That was premature, I did not read the full discussion and tested with 172.  For me the issue is only present if I try to click a UI element before the splash-logo disappears.  If I wait for it do go away, the UI keeps working.  This is not the case with 172 where the splash logo also goes away quicker.  Can you confirm?

[2020-06-08 21:45] acardona commented on #250
I can confirm: if I launch ```Image-linux64 --system``` (runs java 8u252) and don't click anywhere until the Fiji window is open and ready, then the UI is responsive as expected. But if I click away to another application, then the UI, when ready, is frozen.

[2020-06-23 20:05] hinerm commented on #240
@ctrueden on my windows machine, Fiji appears to work with JBRSDK8.

Do we currently have build automation that can do that cross-platform test?

Is it actually sufficient to have a launcher that works with JBRSDK8 for this issue? Or, since we're creating an updated launcher, should we expand it to include the generalizing to work with the various Java 11 distributions, and so on?

[2020-06-23 20:11] ctrueden commented on #240
Yes, we do have build automation that could do the test:
* https://travis-ci.org/imagej/imagej-launcher
* https://ci.appveyor.com/project/scijava/imagej-launcher

I designed the `check-java-version.sh` script as a good starting point, although portability (Windows in particular) probably needs more consideration. Something like your `run-java-gauntlet.sh` is just what I had in mind.

As for scope:

[2020-06-24 13:13] hinerm commented on #240
@ctrueden

I just had to make a small tweak so it was agnostic of the launcher and it works fine on windows

Totally! I actually made the `run-java-gauntlet.sh` test the output of `check-java-version.sh` and [report success/failure](https://github.com/imagej/imagej-launcher/blob/c276b076fd0a3de10658fafabe8f48692744dfcf/run-java-gauntlet.sh#L36-L45) but we could move that check or change its behavi

[2020-07-07 12:46] ctrueden commented on #221
See also #251

[2020-07-07 12:47] ctrueden opened #252 "Update Fiji to pom-scijava 29.0.0"
Once pom-scijava 29.0.0 is finally released, the plan is to update this repository to use it, and upload new artifacts to the Java-8 update site. This will be a big update, with many needed fixes.

This issue is intended to track work in various repositories that needs to be considered as part of that update, to avoid future headaches for users. Before uploading, we should fix—or at least carefull

[2020-07-09 15:48] lollopus opened #253 "The ‘Kill’ button in the debug window does not seem to kill running scripts"
I'm reposting here [an old comment of mine ](https://forum.image.sc/t/the-kill-button-in-the-debug-window-does-not-seem-to-kill-running-scripts/12026?u=lollopus) from the forum. The issue is still relevant today.

As an example of this issue these two javascript lines suffice:

Running this code in the scripting/debut window obviously rapidly fills up the Fiji memory (as can be monitered in the me

[2020-07-10 20:03] ctrueden commented on #253
@lollopus Thanks for reporting! Definitely a bug (in https://github.com/scijava/script-editor). Right now the team is laser focused on the urgent task of [migrating ImageJ server resources](https://forum.image.sc/t/imagej-wiki-is-down/39672), so we won't be able to investigate this right away, but I just wanted to let you know we agree this is an issue which should be fixed.

[2020-07-10 21:11] lollopus commented on #253
Great news @ctrueden ! Thanks for confirming this.

[2020-07-25 09:51] gprezza opened #254 "Two windows open when double-clicking on image"
The issue is the same as [this topic](https://forum.image.sc/t/why-do-2-windows-fiji-and-java-open/21323) in the image.sc forum.

I'm on Windows 10 and if I open .tif files by double-clicking (i.e. this doesn't occur if opening files by File > Open) **when an instance of Fiji is already running**, the image is opened in two windows: one with the Fiji logo and the other with the Java one (as also s

[2020-08-01 13:16] tischi opened #255 "Open samples does not work"
`[File > Open Samples]` does not work for me: no image is shown.
OS: Mac

[2020-08-01 13:19] tischi opened #256 "Showing an image in bdv crashes"
With the update to 29.0.0 `[BigDataViewer > Open Current Image]` throws this error:
[code]
@tpietzsch

[2020-08-02 04:45] ctrueden commented on #255
I noticed this as well. I'm clueless as to why, but will investigate soon.

[2020-08-02 07:41] tischi commented on #256
Since @tpietzsch is on holidays, maybe @nicokiaru has a clue? He used the new bdv quite a lot already, afiak.

[2020-08-02 08:02] tischi commented on #256
I looked a bit into it and I don't get it.

The error occurs in the `BasicViewerState` state class at line 1622 (`bdv-core`):
[code]
The error says `java.lang.NoSuchFieldError: list`, however debugging within IntelliJ the `list` field does seem to exist:

![image](https://user-images.githubusercontent.com/2157566/89118441-2cd46c80-d4a6-11ea-8d4e-f1842e3c0f20.png)

The only thing I can imagine is s

[2020-08-02 16:03] haesleinhuepf opened #257 "Fiji crashes on startup after update with some kind of "Access Denied" error"
Hi all,

as discussed with @ndefrancesco on [image.sc](https://forum.image.sc/t/console-opens-when-starting-fiji-on-windows/41093/3) Fiji starts now with a black console window showing an error message. Some installations also freeze at that point:
![image](https://user-images.githubusercontent.com/12660498/89126911-f4568200-d4e9-11ea-80f8-8d91523bd07c.png)

The error number "5" often stands for "

[2020-08-02 16:08] imagejan commented on #255
I also noticed that the menu entries are different now, e.g. instead of "Blobs (25K)" it now just says "Blobs".

Also, running this script works as expected:

[code]

.. so it must be some issue with the *File > Open Samples* menu itself not calling the commands it is supposed to call (and reported to do so by the built-in search).

[2020-08-02 16:33] imagejan commented on #255
I don't know what's going wrong here. My investigation so far only showed that getting the `ModuleInfo` from the `MenuService` and running it via the `ModuleService` works as expected:

[code]

[2020-08-02 22:24] ctrueden commented on #255
It might be related to the ij1-patcher / imagej-legacy bytecode manipulation logic. There is a hook for Open Samples commands, so that the "Cache Samples Images" command can work. I will dig tomorrow.

[2020-08-03 08:45] haesleinhuepf commented on #257
While the win64-exe issue is resolved for the moment (I uploaded the old exe to the update site as @ctrueden suggested in the forum), I'm having issues with running the 32-bit version. When updating the [32-Bit Fiji from July 11th](https://downloads.imagej.net/fiji/archive/20200711-0516/fiji-win32.zip) it doesn't start anymore. This happens before updating the exe file. While ImageJ-win32.exe (aga

[2020-08-03 12:40] JimageJ opened #258 "Fiji fails to start Ubuntu after 2020 major update"
Hey folks,

I ran into problems getting the latest version to run on Ubuntu 20.04 after the update. I’ve got it working now but thought I’d post what my issue was, because it highlights a fault with the installation.

Ran the update and Fiji won’t start. Redownloaded the latest and it won’t start. The 2017 build starts fine, until I update it.

Running from the command line gives this:

`
Could no

[2020-08-03 14:43] haesleinhuepf commented on #258
Hey @JimageJ, so good that you found a workaround for the moment and shared it with us. Thanks!

[2020-08-03 20:53] axtimwalde commented on #258
The workaround in in the Forum post does not work for me.

[2020-08-03 23:11] axtimwalde commented on #258
@ctrueden identified an outdated scijava-common artifact that was shadowed by the N5 update site as the culprit of my issue and obsoleted the file on the update site.  The above workaround works.

[2020-08-04 09:29] haesleinhuepf commented on #256
Hey @tischi, can you figure out in which jar file `org.scijava.listeners` lives, which version of it is in your IDE and which version is in your Fiji?

[2020-08-04 09:45] tischi commented on #256
Hey @haesleinhuepf,  in both my IDE and Fiji it is: `scijava-listeners-1.0.0-beta-3.jar`.

[2020-08-04 10:01] haesleinhuepf commented on #256
Hey @tischi ,

could you try if version 1.0.0-beta4-SNAPSHOT solves the issue?

[2020-08-04 10:19] imagejan commented on #256
@tischi I can confirm the issue in an up-to-date Fiji, and with a locally-built `bigdataviewer-core-9.0.6-SNAPSHOT` from latest `master`.

It seems to be a byte-code incompatibility issue, because `bigdataviewer-core` currently depends on `scijava-listeners-1.0.0-beta-2`.

After bumping the version (without any other code changes):

https://github.com/bigdataviewer/bigdataviewer-core/compare/maste

[2020-08-04 10:27] imagejan commented on #256
As @tpietzsch is on vacation, maybe @ctrueden as second maintainer of `bigdataviewer-core` can review https://github.com/bigdataviewer/bigdataviewer-core/pull/103, cut a new release, and upload to the update site. 🙂

[2020-08-04 13:08] ctrueden commented on #257
@haesleinhuepf wrote:

That's the dreaded "trying to allocate more memory than a 32-bit JVM supports on Windows" bug. You'll notice it's only 1.2GB: seemingly far less than the 2GB limit, right? But the 32-bit Windows JVM is notorious for actually allowing much less as a maximum; IIRC memory is shared with Windows itself? So the cap varies depending on your system and version of Windows. No one (t

[2020-08-04 13:13] haesleinhuepf commented on #257
I agree. Among my students in the last course, 1out of 60 had a Windows 32-bit running. She was happy to finally have a good reason to get a new laptop. Is it maybe time to discontinue the 32-bit version? I would vote for it and defend it in case of trouble. I also recently argued why CLIJ may not work on Windows 7 :-)

[2020-08-04 13:18] ctrueden commented on #257
I would be happy to retire the win32 support. We already retired linux32. (I don't remember exactly why, but maybe due to difficulties building a linux32 launcher easily on Travis CI? Or maybe just because no one uses linux32 anymore?)

Do you see any issue with continuing to ship the last working ImageJ-win32.exe? This is what we do for ImageJ-linux32. It's a "soft" discontinuation, in that peopl

[2020-08-04 13:22] haesleinhuepf commented on #257
No issue and it sounds like a great idea. I just can't upload it right now, because Fiji doesn't start with this launcher... Can one upload a windows imagej-win32.exe from a linux Fiji?

[2020-08-04 13:36] ctrueden commented on #257
Yep, you can upload any platform-specific thing from any running Fiji, even if the platform is different.

In the details box, just make sure it still says the platform is win32. But since the file already exists and is flagged that way, I think it should already be set.

If you have trouble let me know; I can also just revert it directly in the `db.xml.gz`.

[2020-08-04 16:47] #256 closed

[2020-08-04 17:42] ctrueden commented on #257
@haesleinhuepf I discussed with @hinerm. Here is how we want to proceed with the two issues discussed here.

## ImageJ-win64

After some analysis, here is what @hinerm and I have concluded:

1. The new launcher has a regression where the console always pops, even when not passing the `--console` flag. This needs to be fixed, but it's not the reason for Fiji hanging at startup.

2. The `Could not o

[2020-08-04 18:13] haesleinhuepf commented on #257
Alright. I just download and tested them. The new win64.exe works on the system. It's just not signed properly I guess:
![image](https://user-images.githubusercontent.com/12660498/89327630-7e3e5080-d68c-11ea-92fe-ba8da0a73282.png)

As I trust you, I ran it anyway and it produced this output:
https://gist.github.com/haesleinhuepf/f93cef9e4630180dda26aa1b1dfd3690

Then, I ran its update (it download

[2020-08-04 18:24] haesleinhuepf commented on #257
I also tried with some more older Fijis and they appear to work fine with the new launcher. 👍

[2020-08-04 20:54] imagejan commented on #255
For the record: that was a change in `1.53a` and is likely not related to this issue:

From https://imagej.net/notes.html:

---

Also: running e.g. *Blobs* from the search bar result (by clicking <kbd>Run</kbd>) works fine.

Running `run("Blobs");` (or `run("Blobs (25K)");`) in a macro doesn't load any image, same as the menu.

[2020-08-04 22:20] ctrueden commented on #257
Thanks a lot @haesleinhuepf for testing. So... what can we do to help improve the experience for users? I don't know what to do about this Windows Defender SmartScreen thing. And why didn't you see the "Windows protected this PC" last time you tested it? We didn't change anything yet...

[2020-08-04 22:27] ctrueden commented on #255
It was [a bug in Fiji itself](https://github.com/fiji/fiji/blob/fiji-2.1.0/src/main/java/sc/fiji/compat/SampleImageLoader.java#L45). The `SampleImageLoader` plugin injects itself over top of ImageJ1's "Open Samples" commands. The Blobs command becomes `fiji.SampleImageLoader("http://imagej.nih.gov/ij/images/blobs.gif")`. The `fiji.SampleImageLoader` class no longer exists; it is `sc.fiji.compat.Sa

[2020-08-04 22:27] #255 closed

[2020-08-05 05:13] ctrueden commented on #256
I released bigdataviewer-core-9.0.6.jar and uploaded to the core update site.

[2020-08-05 07:37] haesleinhuepf commented on #257
It's a bit weird. I only saw it once.

I'm again happy to test it.

[2020-08-05 13:59] imagejan commented on #255
Thanks, @ctrueden!

As `imagej1` has [its own "Cache Sample Images" command](https://github.com/imagej/imagej1/blame/c875290ab562ea46803ab22a16fe82920d93f649/ij/Menus.java#L115) since a while now, is `sc.fiji.compat.SampleImageLoader` needed at all anymore?

[2020-08-05 18:41] juldub07 opened #259 "issues opening .lif series"
Trying to open .lif file series, but only the first one will open (even if another one is selected from the bioformat series option window), and exceptions are thrown (pasted below):

(Fiji Is Just) ImageJ 2.1.0/1.53c; Java 1.8.0_202 [64-bit]; Mac OS X 10.15.6; 101MB of 10576MB (<1%)

java.lang.NoClassDefFoundError: org/apache/xml/serializer/TreeWalker
	at org.apache.xalan.processor.TransformerFac

[2020-08-05 20:13] imagejan commented on #259
This issue is caused by the latest Fiji updates. On some systems, the updater was not installing the file `serializer-2.7.2.jar` that is required by the updater.

Please see [this discussion](https://forum.image.sc/t/java-lang-noclassdeffounderror-org-apache-xml-serializer-treewalker/41205/5?u=imagejan) on the forum, you'll need to put `serializer-2.7.2.jar` in your `Fiji.app/jars/` folder, then r

[2020-08-05 20:25] juldub07 commented on #259
@imagejan I updated FIJI Monday morning, so that may explain it. Will get the serializer file. Thanks for the help!!

[2020-08-06 02:35] ctrueden opened #260 "Consider removing SampleImageLoader"
@imagejan asks:

Testing needed.

[2020-08-06 02:35] ctrueden commented on #255
I don't know. I filed #260.

[2020-08-10 09:06] tischi opened #262 "n5 libblosc"
related to: https://github.com/Blosc/c-blosc/issues/311

@axtimwalde @ctrueden  @constantinpape

This one seem so work for us at EMBL: https://oc.embl.de/index.php/s/MzyhCPM0FtzB5t7
If I put it into `Fiji.app/lib/linux64` and then run `new org.blosc.JBlosc()` I get `[WARNING] Ignoring unsupported output: result [org.blosc.JBlosc]` but none of the other error messages.
It comes from this path on ou

[2020-08-10 09:29] tischi commented on #262
@ctrueden
I downloaded a fresh Fiji just now on a Mac and it did not contain the `libblosc` yet.
On Linux however it does. Can you confirm this?

[2020-08-10 11:29] constantinpape commented on #262
Just to give some context here: the EMBL cluster uses [easybuild](https://easybuild.readthedocs.io/en/latest/Introduction.html) as package manager. So this libblosc links to versions of libgcc and libstdc++ that are also provided by easybuild.

Hence this is a possible fix to make FIJI run at EMBL (or a cluster systems with similar setup), but it doesn't help with the general problem of incompatib

[2020-08-10 15:04] axtimwalde commented on #262
Can you please try this build?  https://files.gitter.im/550332cd15522ed4b3dd39fe/Cppo/libblosc.so

[2020-08-10 16:17] tischi commented on #262
Lookin' good!

[code]

[2020-08-10 16:23] axtimwalde commented on #262
Excellent, uploading it to the updater now, note that this is 1.18.1, the last version before it became hard to include Snappy.  The CentOS shipped version that you tried earlier is of course much older because CentOS ;).  Still looking into statically linking libc and libstdc++...

[2020-08-10 16:27] tischi commented on #262
Great! By the way: I think Fiji currently only ships the blosc lib for linux and windows, but still **not for mac**. I wrote this already somewhere else cc'ing Curtis, but I cannot find anymore where. So, if you by chance "bump into him", maybe you could remind him as well.

[2020-08-10 17:14] ctrueden commented on #262
@tischi Thanks, I'm aware. It's on my list to investigate. I don't know what causes the issue though, so I have no estimate when it might be fixed.

[2020-08-10 17:14] axtimwalde opened #263 "lib/macosx/libblosc.dylib missing in Fiji download for Mac"
Under unknown circumstances the file will also never be installed by the updater although it is present on the Java-8 update site.
Proposed solution: include in the official Fiji download for Mac.

[2020-08-10 17:23] tischi commented on #262
@ctrueden thanks! let me know if it makes sense to consider some temporary workaround, e.g. adding the mac blosc lib to the MoBIE update site?!

[2020-08-10 17:36] axtimwalde commented on #262
Great!  I filed a separate issue, so @ctrueden can collect solution badges ;).

[2020-08-10 22:00] refack commented on #257
I'm seeing the above mentioned quick crash issue after updating just now (Windows 10 64bit Insider build 20185).
Following is the console output after renaming to `debug.exe`:
[code]

[2020-08-14 19:11] apr673 commented on #256
Hey, I've just updated ImageJ and I ran into the same error. After checking the version for bigdataviewer it was still the 9.0.5 one. Is it possible that the core update site is not releasing the correct version? (downloading the bigdataviewer-core-9.0.6-SNAPSHOT.jar solved the problem).
Thanks!

[2020-08-15 20:25] imagejan commented on #256
@apr673 `bigdataviewer-core-9.0.6.jar` is on the *Java-8* update site. Is it possible that you have other update sites activated that shade this version of `bigdataviewer-core`?

[2020-08-18 22:19] gawells opened #265 "Font anti-aliasing for linux"
Is there a way to get the main menu to use anti-aliasing in the Linux version? I've set `_JAVA_OPTIONS=Dawt.useSystemAAFontSettings=on` and  `_JAVA_OPS=-Dawt.useSystemAAFontSettings=on` but it only seems to affect plugins.

[2020-08-21 16:48] benwbooth opened #266 "fiji.sc is down"
I checked isitdownrightnow.com/fiji.sc.html and it's down for everyone.

[2020-08-22 01:13] #266 closed, assigned to nobody

[2020-08-26 12:47] imagejan commented on #265
This seems to be an issue with the ImageJ1 user interface (see [`imagej1`](https://github.com/imagej/imagej1) repository). @rasband any comments?

[2020-08-27 00:00] rasband commented on #265
I have not found a way to get AWT components on Linux like MenuBar to display anti-aliased text. Switching to Swing components like JMenuBar would probably fix the problem but would break some existing plugins. I tried running ImageJ the Linux version of OpenJDK 14, but the problem persists.

[2020-09-01 08:29] gprezza commented on #254
Bumping. Looking at the thread on the forum (linked above), it seems there's quite some people experiencing this issue.

[2020-09-05 00:35] ctrueden commented on #254
I hear you, @gprezza. I won't be able to investigate it till at least October, but know that it's on our list...

[2020-09-05 05:06] ctrueden commented on #262
It sounds like this issue should be closed in favor of #263? Please reopen if I misunderstood.

[2020-09-05 05:06] #262 closed

[2020-09-05 05:13] ctrueden commented on #263
I started on a short-to-medium-term fix for this awhile back, but didn't end up finishing it. @hinerm I'm tagging you in, in case you have the bandwidth to finish it before I get back.

My idea is a new script in https://github.com/fiji/fiji-builds called `is-fiji-complete.sh` with rough contents as follows:

[code]

And then, when updating the Fiji installation (either in `.travis/build.sh` at th